@model StoreManagement.Models.TBM_EMPLOYEE
@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_MP_Back.cshtml";

    var POSITION = (EMPLOYEE_POSITION[])ViewData["POSITION"];
}
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtUsername">Username</label>
                            <input type="text" class="form-control" id="txtUsername" placeholder="Username" value="@Model.USER_NAME">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtPassword">Password</label>
                            <input type="password" class="form-control" id="txtPassword" placeholder="Password" value="@Model.PASSWORD">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtFirstname">Firstname</label>
                            <input type="text" class="form-control" id="txtFirstname" placeholder="Firstname" value="@Model.FULLNAME">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtLastname">Lastname</label>
                            <input type="text" class="form-control" id="txtLastname" placeholder="Lastname" value="@Model.LASTNAME">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtIDCard">ID Card</label>
                            <input type="text" class="form-control" id="txtIDCard" placeholder="x-xxxx-xxxxx-xx-x" value="@Model.IDCARD">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Position</label>
                            <select id="ddlPosition" class="form-control">
                                <option value="" selected>Choose...</option>
                                @{
                                    if (POSITION != null && POSITION.Any())
                                    {
                                        foreach (var item in POSITION)
                                        {
                                            if (item.POSITION_CODE == Model.POSITION)
                                            {
                                                <option value="@item.POSITION_CODE" selected>@item.POSITION_DESCRIPTION</option>
                                            }
                                            else
                                            {
                                                <option value="@item.POSITION_CODE">@item.POSITION_DESCRIPTION</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
    <div class="col-sm-12 text-center">
        <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Submit</button>
        <button id="btnBack" type="button" class="btn btn-dark" title="Back" data-toggle="tooltip"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
    </div>
</div>
<input type="hidden" id="hddID" value="" />

<script type="text/javascript">

    $(document).ready(function () {
 
        $("#txtIDCard").on('input blur', cardFormat);

        $('#txtIDCard').blur();

        $('#btnSubmit').on('click', function () {
            DialogConfirmSubmit(function () {
                swal.disableButtons();
                BlockUI();

                var obj = {
                    'USER_ID': "@Model.USER_ID",//GetValTextBox('hddID'),
                    'USER_NAME': GetValTextBox('txtUsername'),
                    'PASSWORD': GetValTextBox('txtPassword'),
                    'FULLNAME':  GetValTextBox('txtFirstname'),
                    'LASTNAME': GetValTextBox('txtLastname'),
                    'IDCARD': GetValTextBox('txtIDCard').replace(/-/g, ''),
                    'POSITION': GetValDropdown('ddlPosition')
                }
                BlockUI();
                $.ajax({
                    url: '@Url.Action("SaveData", "Employee")',
                    type: 'POST',
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: { 'data': obj},
                    success: function (response) {
                        UnblockUI();
                        if (response.Status == SysProcess.SessionExpired) {
                            PopupSessionTimeOut();
                        } else if (response.Status == SysProcess.Duplicate) {
                            DialogDuplicate();
                        } else if (response.Status == SysProcess.Failed) {
                            //DialogSaveFail(response.Msg);
                            DialogWarning(response.Msg);
                        } else {
                            DialogSucessRedirect('@Url.Action("Index","Employee")');
                        }
                    },
                    error: function () {
                    }
                });
            });
        });

        $('#btnBack').on('click', function () {
            window.Redirect('@(Url.Action("Index",@ViewContext.RouteData.Values["Controller"].ToString()))');
        });
    });
</script>




