<!DOCTYPE html>
<style type="text/css">
    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
</style>
<html>
<head>
    @* fontawesome-5 *@
    <link href="~/lib/fontawesome-5.0.13/css/fontawesome-all.css" rel="stylesheet" />

    @*  jquery-3.6.0 *@
    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.0/jquery-ui.min.js"></script>
    <link href="~/lib/jquery-ui-1.13.0/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.0/jquery-ui.theme.css" rel="stylesheet" />

    <script src="~/js/jquery.reDefaultTools.js"></script>

    @* jquery-inputmask *@
    <script src="~/js/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/js/jquery-inputmask/inputmask/inputmask.extensions.js"></script>
    <script src="~/js/jquery-inputmask/inputmask/jquery.inputmask.js"></script>

    @* Bootstrap *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/icon.css" rel="stylesheet" />

    @*datepicker*@
    <link href="~/lib/bootstrap-datepicker-thai/css/datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
    <script src="~/lib/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>

    @* linqjs *@
    <script src="~/lib/linqjs-v2.2.0.2/linq.min.js"></script>
    <script src="~/lib/linqjs-v2.2.0.2/jquery.linq.min.js"></script>

    @* sweetalert2 *@
    <script src="~/lib/sweetalert2/promise-polyfill.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2-common.js"></script>
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    @*  tooltipster *@
    <script src="~/lib/tooltipster/tooltipster.bundle.min.js"></script>
    <link href="~/lib/tooltipster/tooltipster.bundle.css" rel="stylesheet" />
    <link href="~/lib/tooltipster/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />

    @* ThaiSansNeue *@
    <link href="~/Fonts/ThaiSansNeue/css/fontface.css" rel="stylesheet" />

    @* BlockUI *@
    <link href="~/css/BlockUI-Loading.css" rel="stylesheet" />
    <script src="~/js/jquery.blockUI.js"></script>

    @* fancybox3  *@
    <link href="~/lib/fancybox3/dist/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/lib/fancybox3/dist/jquery.fancybox.js"></script>

    @* DataTables *@
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/datatables.min.js"></script>

    @* System *@
    <link href="~/css/Customs.css" rel="stylesheet" />
    <link href="~/css/easy.css" rel="stylesheet" />
    <script src="~/js/System/sysFunction.js"></script>
    <script src="~/js/CommonScript.js"></script>

    @* Form Validation  *@
    <link href="~/lib/FormValidation/formValidation.min.css" rel="stylesheet" />
    <script src="~/lib/FormValidation/formValidation.min.js"></script>
    <script src="~/lib/FormValidation/bootstrap.min.js"></script>
    <script src="~/lib/FormValidation/CustomFormValidation.js"></script>

    @*File Upload*@
    <link href="~/lib/Fileupload/src/jquery.fileuploader.css" rel="stylesheet" />
    <script src="~/lib/Fileupload/src/jquery.fileuploader.js"></script>
    <script src="~/lib/Fileupload/AsyncUploadFile.js"></script>

    <script src="~/js/_MP_Back.js"></script>
    <link href="~/css/_MP_Back.css" rel="stylesheet" />


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false);
</head>
<body>
    <div class="container">
        <div>
            @RenderBody()
        </div>
        <div class="clearfix"></div>
    </div>
    <!--<div id="SITE_NAVBAR">
        <div class="navbar-info">
            <div class="info">
                <div class="info-icon">
                    <i class="far fa-user"></i>
                </div>
                <div class="info-label">
                    <div class="info-welcome">Welcome</div>
                    <div class="info-title">
                        phongsawat.pip
                    </div>
                    <div class="info-desc">
                        Tester
                    </div>
                </div>
                <div class="user-tools">
                    <button id="btnLogOut2" type="button" class="ibtn ibtn-action cursor-pointer" onclick="Logout()"><i class="fa fa-sign-out-alt"></i></button>
                </div>
            </div>
        </div>
        <div id="MENU_SIDE">
            <ul id="cphBody_menuSide" class="menu" style="transform: translateX(0%);">-->
                @*<li><a href="#" class="active ">Home</a></li>
                    <li><a href="#" class="">Tracking Input Form</a></li>
                    <li><a href="#" class="">Search</a></li>*@
                <!--<li class="has-children">
                    <a class="">
                        Report
                        <div class="link-caret">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                    <ul class="menu-sub">
                        <li>
                            <a class="link-back"><i class="fa fa-chevron-left"></i> Back</a>
                        </li>
                        <li><a href="#" class=""> <i class="fa fa-list-ul" aria-hidden="true"></i> Report 1</a></li>
                        <li><a href="#" class=""><i class="fa fa-car" aria-hidden="true"></i>Report 2</a></li>
                    </ul>
                </li>-->
                @*<li class="has-children">
                        <a class="">
                            Administrator
                            <div class="link-caret">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <ul class="menu-sub">
                            <li>
                                <a class="link-back"><i class="fa fa-chevron-left"></i> Back</a>
                            </li>
                            <li><a href="#" class=""> <i class="fa fa-list-ul" aria-hidden="true"></i> Stock</a></li>
                            <li><a href="#" class=""><i class="fa fa-car" aria-hidden="true"></i>Vehicle</a></li>
                            <li><a href="#" class=""><i class="fa fa-users" aria-hidden="true"></i> Customer</a></li>
                            <li><a href="#" class=""><i class="fa fa-users" aria-hidden="true"></i> Employee</a></li>
                            <li><a href="#" class=""><i class="fa fa-list-alt" aria-hidden="true"></i>Job</a></li>
                        </ul>
                    </li>*@
                <!--<li><a href="@Url.Action("Index", "Stock")" class=""><i class="fa fa-cogs"></i> Administrator</a></li>
            </ul>
        </div>
    </div>
    <div id="SITE_CONTENT">
        <div id="CONTENT_OVERLAY">
            <a id="MENU_CLOSE"><i class="fa fa-exchange-alt"></i></a>
        </div>
        <div id="HEAD">
            <div class="container">
                <div class="header">
                    <a class="header-logo">
                        <img src="~/Images/logo/I_SEE.png" />
                    </a>
                    <div class="header-area">
                        <div class="header-top">
                            <a class="header-title">
                                <span class="title-main">I.SEE Equipment and Engineering</span>
                                <span class="title-sub">SYSTEM</span>
                            </a>
                        </div>
                        <div class="header-menu">
                            <ul id="cphBody_menuTop" class="menu">-->

                                @*<li><a href="#" class="active ">Home</a></li>
                                    <li><a href="#" class="">Tracking Input Form</a></li>
                                    <li><a href="#" class="">Search</a></li>*@
                                @*<li class="has-children">
                                        <a class="">Administrator</a><ul class="menu-sub">
                                            <li><a href="#" class=""> <i class="fa fa-list-ul" aria-hidden="true"></i> Stock</a></li>
                                            <li><a href="#" class=""><i class="fa fa-car" aria-hidden="true"></i>Vehicle</a></li>
                                            <li><a href="#" class=""><i class="fa fa-users" aria-hidden="true"></i> Customer</a></li>
                                            <li><a href="#" class=""><i class="fa fa-users" aria-hidden="true"></i> Employee</a></li>
                                            <li><a href="#" class=""><i class="fa fa-list-alt" aria-hidden="true"></i>Job</a></li>
                                        </ul>
                                    </li>*@
                                <!--<li class="has-children">
                                    <a class="">Report</a><ul class="menu-sub">
                                        <li><a href="#" class=""> <i class="fa fa-list-ul" aria-hidden="true"></i> Report 1</a></li>
                                        <li><a href="#" class=""><i class="fa fa-car" aria-hidden="true"></i>Report 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index", "Stock")" class=""><i class="fa fa-cogs"></i> Administrator</a></li>
                            </ul>
                        </div>
                        <div class="header-tools">
                            <a id="MENU_TRIGGER" role="button"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                    <div class="header-info">
                        <div class="info">
                            <div class="info-icon">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="info-label">
                                <div class="info-welcome">Welcome</div>
                                <div class="info-title">
                                    phongsawat.pip
                                </div>
                                <div class="info-desc">
                                    Tester
                                </div>
                            </div>
                            <div class="user-tools">
                                <button id="btnLogOut" type="button" class="ibtn ibtn-action cursor-pointer" onclick="Logout()"><i class="fa fa-sign-out-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BODY">
            <div class="container">
                <div>
                    @RenderBody()
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="FOOT">
            <div class="container position-relative">
                <div class="footer-area">
                    <div class="footer-label-1">HMC Polymers is an associate of PTTGC & LyondellBasell</div>
                    <div class="footer-label-2">© 2019 HMC Polymers Thailand - All rights reserved</div>
                </div>
            </div>
        </div>
    </div>-->
</body>
</html>
