@using StoreManagement.Models;
@using StoreManagement.Controllers;
@{
    bool SessionUserInfoIsExpired = Context.Session.GetObjectFromJson<TM_User>("UserAccount") == null;
    var SessionUserInfo = Context.Session.GetObjectFromJson<TM_User>("UserAccount");
    var url_login = Url.Action("Index", "Login");
}

<!DOCTYPE html>

<html>
<head>
    @* fontawesome-5 *@
    <link href="~/lib/fontawesome-5.0.13/css/fontawesome-all.css" rel="stylesheet" />

    @*  jquery-3.6.0 *@
    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.0/jquery-ui.min.js"></script>
    <link href="~/lib/jquery-ui-1.13.0/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.0/jquery-ui.theme.css" rel="stylesheet" />

    <script src="~/js/jquery.reDefaultTools.js"></script>

    @* jquery-inputmask *@
    <script src="~/js/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/js/jquery-inputmask/inputmask/inputmask.extensions.js"></script>
    <script src="~/js/jquery-inputmask/inputmask/jquery.inputmask.js"></script>

    @* Bootstrap *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/icon.css" rel="stylesheet" />

    @*datepicker*@
    <link href="~/lib/bootstrap-datepicker-thai/css/datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
    <script src="~/lib/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>

    @* linqjs *@
    <script src="~/lib/linqjs-v2.2.0.2/linq.min.js"></script>
    <script src="~/lib/linqjs-v2.2.0.2/jquery.linq.min.js"></script>

    @* sweetalert2 *@
    <script src="~/lib/sweetalert2/promise-polyfill.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2-common.js"></script>
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    @*  select2 *@
    <link href="~/lib/select2-4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2-4.0.13/dist/js/select2.min.js"></script>
    @*  tooltipster *@
    <script src="~/lib/tooltipster/tooltipster.bundle.min.js"></script>
    <link href="~/lib/tooltipster/tooltipster.bundle.css" rel="stylesheet" />
    <link href="~/lib/tooltipster/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />

    @* ThaiSansNeue *@
    <link href="~/Fonts/ThaiSansNeue/css/fontface.css" rel="stylesheet" />

    @* BlockUI *@
    <link href="~/css/BlockUI-Loading.css" rel="stylesheet" />
    <script src="~/js/jquery.blockUI.js"></script>

    @* fancybox3  *@
    <link href="~/lib/fancybox3/dist/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/lib/fancybox3/dist/jquery.fancybox.js"></script>

    @* DataTables *@
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/datatables.min.js"></script>

    @* System *@
    <link href="~/css/Customs.css" rel="stylesheet" />
    <link href="~/css/easy.css" rel="stylesheet" />
    <script src="~/js/System/sysFunction.js"></script>
    <script src="~/js/CommonScript.js"></script>

    @* Form Validation  *@
    <link href="~/lib/FormValidation/formValidation.min.css" rel="stylesheet" />
    <script src="~/lib/FormValidation/formValidation.min.js"></script>
    <script src="~/lib/FormValidation/bootstrap.min.js"></script>
    <script src="~/lib/FormValidation/CustomFormValidation.js"></script>

    @*File Upload*@
    <link href="~/lib/Fileupload/src/jquery.fileuploader.css" rel="stylesheet" />
    <script src="~/lib/Fileupload/src/jquery.fileuploader.js"></script>
    <script src="~/lib/Fileupload/AsyncUploadFile.js"></script>

    <script src="~/js/_MP_Back.js"></script>
    <link href="~/css/_MP_Back.css" rel="stylesheet" />


    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>ISEE: @ViewContext.RouteData.Values["Controller"].ToString()</title>

    @*<style>
            #SITE_NAVSIDE a {
                color: #ffffff;
                text-decoration: none;
                background-color: transparent;
            }

                #SITE_NAVSIDE a:hover {
                    color: #ffffff;
                    text-decoration: none;
                    background-color: transparent;
                }

            #headTitle a {
                color: #ffffff;
                text-decoration: none;
                background-color: transparent;
            }

            #headTitle {
                font-size: 14px !important;
            }

                #headTitle a:hover {
                    color: #ffffff;
                    text-decoration: none;
                    background-color: transparent;
                }
        </style>*@
    <style type="text/css">
        a {
            color: #ffffff;
            text-decoration: none;
            background-color: transparent;
        }

            a:hover {
                color: #ffffff;
                text-decoration: none;
                background-color: transparent;
            }
    </style>
    @RenderSection("scripts", required: false);
</head>
<body>
    <div id="SITE_NAVSIDE">
        <button id="MENU_TRIGGER" type="button">
            <div class="menu-icon"><i class="fas fa-bars"></i></div>
            <div class="menu-label">
                MENU
            </div>
        </button>
        <ul id="MENU_LIST" clientidmode="static">
            @*<li class="treeview">
                    <a class="treeview-a active">
                        <div class='menu-icon'><i class="fas fa-list-alt"></i></div>
                        <div class='menu-label'>Master Data </i></div>
                    </a>
                </li>
                <li class="treeview">
                    <a class="treeview-a">
                        <div class='menu-icon'><i class="fas fa-cogs"></i></div>
                        <div class='menu-label'>Organization Registration </i></div>
                    </a>
                </li>
                <li class="treeview">
                    <a class="treeview-a">
                        <div class='menu-icon'><i class="fas fa-users-cog"></i></div>
                        <div class='menu-label'>User Permission  </i></div>
                    </a>
                </li>*@
            @* @Url.Action("Index","Stock") *@

            @{
                var listMenuHead = new List<string>() { "SparePart", "AdjustPart" };
                if (!SessionUserInfoIsExpired)
                {
                    if (SessionUserInfo.MENU != null && SessionUserInfo.MENU.Any())
                    {

                        var Q_Stock = SessionUserInfo.MENU.Where(w => listMenuHead.Contains(w.MENU_CONTROLLER)).ToList();
                        if (Q_Stock.Any())
                        {
                            <li class="treeview">
                                <a href="#" class="treeview-a @((ViewContext.RouteData.Values["Controller"].ToString() == "SparePart" || ViewContext.RouteData.Values["Controller"].ToString() == "AdjustPart") ? "active" : "")">
                                    <div class="menu-icon"><i class="fa fa-list-ul"></i></div>
                                    <div class="menu-label">Stock <span class='pull-right-container' style='float: right'><i class='fa fa-angle-left pull-right'></i></span></div>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    @foreach (var item in Q_Stock)
                                    {
                                        <li><a href="@Url.Action("Index",item.MENU_CONTROLLER)" class="@(ViewContext.RouteData.Values["Controller"].ToString() == item.MENU_CONTROLLER ? "active" : "")"><div class="menu-icon"><i class="@item.ICON"></i></div><div class="menu-label">@item.MENU_DESCRIPTION</div></a></li>
                                    }
                                </ul>
                            </li>
                        }
                        foreach (var item in SessionUserInfo.MENU.Where(w => !listMenuHead.Contains(w.MENU_CONTROLLER)).ToList())
                        {
                            @if (item.MENU_CONTROLLER == null)
                                continue;

                            @if (item.MENU_CONTROLLER == "Report")
                            {
                                <li class="treeview">
                                    <a href="#" class="treeview-a @((ViewContext.RouteData.Values["Controller"].ToString() == "ReportJob" || ViewContext.RouteData.Values["Controller"].ToString() == "ReportStock") ? "active" : "")">
                                        <div class="menu-icon"><i class="@item.ICON"></i></div>
                                        <div class="menu-label">Report <span class='pull-right-container' style='float: right'><i class='fa fa-angle-left pull-right'></i></span></div>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li><a href="@Url.Action("Index",item.MENU_CONTROLLER+"Job")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ReportJob" ? "active" : "")"><div class="menu-icon"><i class="fa-file-alt"></i></div><div class="menu-label">Report Job</div></a></li>
                                        <li><a href="@Url.Action("Index",item.MENU_CONTROLLER+"Stock")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ReportStock" ? "active" : "")"><div class="menu-icon"><i class="fa-file-alt"></i></div><div class="menu-label">Report Stock</div></a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="treeview">
                                    <a href="@Url.Action("Index",item.MENU_CONTROLLER)" class="treeview-a @(ViewContext.RouteData.Values["Controller"].ToString() == item.MENU_CONTROLLER ? "active" : "")">
                                        <div class="menu-icon"><i class="@item.ICON"></i></div>
                                        <div class="menu-label">@item.MENU_DESCRIPTION</div>
                                    </a>
                                </li>
                            }
                        }

                    }
                }
            }
            @*<li class="treeview">
                    <a href="#" class="treeview-a @((ViewContext.RouteData.Values["Controller"].ToString() == "SparePart" || ViewContext.RouteData.Values["Controller"].ToString() == "AdjustPart") ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-list-ul"></i></div>
                        <div class="menu-label">Stock <span class='pull-right-container' style='float: right'><i class='fa fa-angle-left pull-right'></i></span></div>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="@Url.Action("Index","SparePart")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "SparePart" ? "active" : "")"><div class="menu-icon"><i class="fa fa-list-alt"></i></div><div class="menu-label">Spare Part</div></a></li>
                        <li><a href="@Url.Action("Index","AdjustPart")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "AdjustPart" ? "active" : "")"><div class="menu-icon"><i class="fa fa-list-alt"></i></div><div class="menu-label">Adjust Part</div></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index","Vehicle")" class="treeview-a @(ViewContext.RouteData.Values["Controller"].ToString() == "Vehicle" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-car"></i></div>
                        <div class="menu-label">Vehicle</div>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index","Customer")" class="treeview-a @(ViewContext.RouteData.Values["Controller"].ToString() == "Customer" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-users"></i></div>
                        <div class="menu-label">Customer</div>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index","Employee")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employee" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-users"></i></div>
                        <div class="menu-label">Employee</div>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index","Job")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Job" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-list-alt"></i></div>
                        <div class="menu-label">Job</div>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index","LocationStore")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "LocationStore" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-list-ul"></i></div>
                        <div class="menu-label">Location Store</div>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index","Services")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Services" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-list-ul"></i></div>
                        <div class="menu-label">Services</div>
                    </a>
                </li>*@
            @*<li class="treeview">
                    <a href="@Url.Action("Index","SparePart")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "SparePart" ? "active" : "")">
                        <div class="menu-icon"><i class="fa fa-list-ul"></i></div>
                        <div class="menu-label">Spare Part</div>
                    </a>
                </li>*@
        </ul>
    </div>
    <div id="SITE_CONTENT">
        <div id="HEAD">
            <div class="container">
                <div class="head-content">
                    <div class="head-content-upper">
                        @*<a href="@Url.Action("Index","Home")" class="weblogo" style="display: flex;">
                                <div class="logo-img">
                                    <img src="~/Images/logo/I_SEE.png" width="100px" />
                                </div>
                                <div class="logo-title">
                                        <div class="logo-title-main">I.SEE Equipment and Engineering</div>
                                        <div class="logo-title-sub">SYSTEM</div>
                                    </div>
                            </a>*@
                        @* @Url.Action("Index","Home") *@
                        <a href="javascript:function() { return false; }" class="weblogo" style="display: flex;">
                            <div class="logo-img">
                                <img src="~/Images/logo/I_SEE.png" width="100px" />
                            </div>
                            <div class="logo-title">
                                <div class="logo-title-main">I.SEE Equipment</div>
                                <div class="logo-title-sub">Engineering</div>
                            </div>
                        </a>
                        <div class="userinfo">
                            <div class="user-detail">
                                <div class="name">
                                    @if (SessionUserInfoIsExpired == false)
                                    {
                                        @SessionUserInfo.FULLNAME
                                    }
                                </div>
                                <div class="position">
                                    @if (SessionUserInfoIsExpired == false)
                                    {
                                        @SessionUserInfo.POSITION_DESCRIPTION
                                    }
                                </div>
                            </div>
                            <div class="user-tools">
                                <button id="btnLogOut" type="button" class="ibtn ibtn-action cursor-pointer" onclick="Logout()"><i class="fa fa-sign-out-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BODY">
            <div class="page-body">
                <div class="container">
                    <div class="card">
                        <div id="divPageTitle" class="card-header bg-secondary text-white" style="font-weight: bold;font-size: 19px;line-height: 19px;">
                            @ViewContext.RouteData.Values["Controller"].ToString()
                        </div>
                        @RenderBody()
                        @*<div class="card-body">
                                <div>
                                    @RenderBody()
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-footer bg-light">
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="page-footer">
                I.SEE Equipment && Engineering - All rights reserved
            </div>
        </div>
    </div>
    <div id="SITE_OVERLAY"></div>

</body>
</html>

<script type="text/javascript">
    function Logout() {
        DialogConfirmLogout(function () {
              window.open('@url_login', "_self");
        });
    }
</script>


@if (SessionUserInfoIsExpired)
{
    <script type="text/javascript">
            @Html.Raw(string.Format("PopupSessionTimeOut('{0}');", Url.Action("Index", "Login")));
    </script>
}
