@model StoreManagement.Models.MODIFYFY_JOB
@{
    ViewData["Title"] = "ModifyJob";
    Layout = "~/Views/Shared/_MP_Back.cshtml";

    var JOBTYPE = (JOBTYPE[])ViewData["JOBTYPE"];
    var EMPLOYEE = (TBM_EMPLOYEE[])ViewData["EMPLOYEE"];
    var SPAREPART = (TBM_SPAREPART[])ViewData["SPAREPART"];
}
<script src="~/lib/jSignature/flashcanvas.js"></script>
<script src="~/lib/jSignature/jSignature.min.js"></script>
<style>
    /*    body {
        padding: 50px;
        background: #fff;
    }*/

    .wrapper {
        width: 100%;
    }

    @@media(max-width:992px) {
        .wrapper {
            width: 100%;
        }
    }

    .panel-heading {
        padding: 0;
        border: 0;
        background-color: #000000a6;
    }

    .panel-title > a, .panel-title > a:active {
        display: block;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-decoration: none;
    }

    .panel-heading a:before {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        transition: all 0.5s;
    }

    .panel-heading.active a:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .tbody th {
        color: #fff;
        border: 1px solid #FFFFFF !important;
        background-color: #29abe2 !important;
    }

    /* Large rounded green border */
    hr.lineBlue {
        border: 1px solid #29abe2;
        border-radius: 5px;
    }
</style>
<style>
    /*   #SignatureController {
        width: 500px;
        height: 150px;
        border: 1px solid black;
    }*/
</style>
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="wrapper center-block">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading active" role="tab" id="heading_1">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                                    JOB HEADER
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_1">
                                            <div class="panel-body">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="ddlType_job">Type Job</label>
                                                        <select id="ddlType_job" class="form-control">
                                                            <option selected>Choose...</option>
                                                            @{
                                                                if (JOBTYPE != null)
                                                                {
                                                                    foreach (var item in JOBTYPE)
                                                                    {
                                                                        if (Model.JOBDETAIL != null)
                                                                        {

                                                                        }
                                                                        <option value="@item.JOBCODE">@item.JOBCODE -@item.JOBDESCRIPTION</option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="ddlEmployee">Employee</label>
                                                        <select id="ddlEmployee" class="form-control">
                                                            <option selected>Choose...</option>
                                                            @{
                                                                if (EMPLOYEE != null)
                                                                {
                                                                    foreach (var item in EMPLOYEE)
                                                                    {
                                                                        if (Model.JOBDETAIL != null)
                                                                        {
                                                                            if (Model.JOBDETAIL.OWNER_ID == item.USER_ID)
                                                                            {
                                                                                <option selected value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>

                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="txtLicense_No">License No</label>
                                                        <input type="text" class="form-control" id="txtLicense_No" name="txtLicense_No" placeholder="License No" value="@Model.JOBDETAIL.LICENSE_NO - @Model.JOBDETAIL.CUSTOMER_ID" disabled>
                                                        <input type="hidden" class="form-control" id="txtLicense_Email" value="@Model.JOBDETAIL.EMAIL_CUSTOMER">
                                                        <input type="hidden" class="form-control" id="txtCustomerID" value="@Model.JOBDETAIL.CUSTOMER_ID">
                                                        <input type="hidden" class="form-control" id="txtLicense" value="@Model.JOBDETAIL.LICENSE_NO">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="txtEmail">Email</label>
                                                        <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email" maxlength="255" disabled value="@Model.JOBDETAIL.EMAIL_CUSTOMER">
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class=" form-group col-md-6">
                                                        <label for="txtSummarry">Summarry</label>
                                                        <textarea type="text" rows="2" class="form-control" id="txtSummarry" name="txtSummarry" placeholder="Summarry"></textarea>
                                                    </div>
                                                    <div class=" form-group col-md-6">
                                                        <label for="txtAction">Action</label>
                                                        <textarea type="text" rows="2" class="form-control" id="txtAction" name="txtAction" placeholder="Action"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="txtResult">Result</label>
                                                        <textarea type="text" rows="2" class="form-control" id="txtResult" name="txtResult" placeholder="Result"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class=" form-group col-md-6">
                                                        <label for="txtInvoice_No">Invoice No</label>
                                                        <input type="text" class="form-control" id="txtInvoice_No" name="txtInvoice_No" placeholder="Invoice No" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="ddlTransfer_To">Transfer To</label>
                                                        <select id="ddlTransfer_To" class="form-control">
                                                            <option selected>Choose...</option>
                                                            @{
                                                                if (EMPLOYEE != null)
                                                                {
                                                                    foreach (var item in EMPLOYEE)
                                                                    {
                                                                        <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading_2">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                                    JOB DETAIL
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_2">
                                            <div class="panel-body">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <table id="tbBatteryDetails" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                @*<table id="tbBatteryDetails" style="width:100%" class="table-bordered">
                                                                    <thead class="thead-HMCPO darkCustom">*@
                                                                <tr>
                                                                    <th style="text-align:center" colspan="3">BATTERY DETAILS</th>
                                                                </tr>
                                                                <tr>
                                                                    <th></th>
                                                                    <th style="text-align:center">BATTERY #1</th>
                                                                    <th style="text-align:center">BATTERY #2</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>MODEL</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtModel_1" name="txtModel_1" maxlength="50" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtModel_2" name="txtModel_2" maxlength="50" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SERIAL</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSerial_1" name="txtSerial_1" maxlength="50" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSerial_2" name="txtSerial_2" maxlength="50" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>AMP HRS</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtAMP_1" name="txtAMP_1" maxlength="10" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtAMP_2" name="txtAMP_2" maxlength="10" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>DATE CODE</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtDate_Code_1" name="txtDate_Code_1" maxlength="20" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtDate_Code_2" name="txtDate_Code_2" maxlength="20" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SPECIFIC GRAVITY</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSpecific_Gravity_1" name="txtSpecific_Gravity_1" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSpecific_Gravity_2" name="txtSpecific_Gravity_2" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>VOLT STATIC</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Static_1" name="txtVolt_Static_1" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Static_2" name="txtVolt_Static_2" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>VOLT U/LOAD</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Load_1" name="txtVolt_Load_1" placeholder="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Load_2" name="txtVolt_Load_2" placeholder="">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <table id="tbChargeDetails" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                @*<table id="tbChargeDetails" style="width:100%" class="table-bordered">
                                                                    <thead class="thead-HMCPO darkCustom">*@
                                                                <tr>
                                                                    <th style="text-align:center" colspan="2">CHARGER DETAILS</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        MANUFACTURER
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtManufacturer" name="txtManufacturer" maxlength="50" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        MODEL
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtModel" name="txtModel" maxlength="50" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SERIAL</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSerial" name="txtSerial" maxlength="50" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>TEST TAG DATE</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtTest_Tag_Date" name="txtTest_Tag_Date" placeholder="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th style="text-align:center" colspan="2">HOUR METER</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <input type="text" class="form-control" id="txtHour_Meter" name="txtHour_Meter" placeholder="">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr class="lineBlue">

                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <button type="button" id="btnAddJobParts" class="btn btn-success" title="Add" data-toggle="tooltip"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <table id="tbJobParts" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                <tr>
                                                                    <th style="text-align:center">PART NUMBER</th>
                                                                    <th style="text-align:center">DESCRIPTION</th>
                                                                    <th style="text-align:center">QTY</th>
                                                                    <th style="text-align:center"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading_3">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                                    CHECK LIST
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_3">
                                            <div class="panel-body">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        @{
                                                            if (Model.CHECKLIST != null)
                                                            {
                                                                <table style="width:100%" class="table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="text-align:center">DESCRIPTION</th>
                                                                            <th style="text-align:center">INISP</th>
                                                                            <th style="text-align:center">ACT</th>
                                                                            <th style="text-align:center">DESC</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 0; i < 7; i++)
                                                                        {
                                                                            <tr>
                                                                                <th colspan="3">@Model.CHECKLIST[i].CHECK_GROUP_NAME</th>
                                                                            </tr>
                                                                            for (int j = 0; j < Model.CHECKLIST[i].CHECK_LIST.Count(); j++)
                                                                            {
                                                                                <tr>
                                                                                    <td>@Model.CHECKLIST[i].CHECK_LIST[j].CHECK_NAME</td>
                                                                                    <td style="text-align:center"><input type="radio" id="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}_0")" name="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="0" checked></td>
                                                                                    <td style="text-align:center"><input type="radio" id="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}_1")" name="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="1"></td>
                                                                                    <td style="text-align:center"><input type="text" disabled class="form-control" id="chk_list_desc_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}")" /></td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @{
                                                            if (Model.CHECKLIST != null)
                                                            {
                                                                <table style="width:100%" class="table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="text-align:center">DESCRIPTION</th>
                                                                            <th style="text-align:center">INISP</th>
                                                                            <th style="text-align:center">ACT</th>
                                                                            <th style="text-align:center">DESC</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 7; i < @Model.CHECKLIST.Count(); i++)
                                                                        {
                                                                            <tr>
                                                                                <th colspan="3">@Model.CHECKLIST[i].CHECK_GROUP_NAME</th>
                                                                            </tr>
                                                                            for (int j = 0; j < Model.CHECKLIST[i].CHECK_LIST.Count(); j++)
                                                                            {
                                                                                <tr>
                                                                                    <td>@Model.CHECKLIST[i].CHECK_LIST[j].CHECK_NAME</td>
                                                                                    <td style="text-align:center"><input type="radio" id="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}_0")" name="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="0" checked></td>
                                                                                    <td style="text-align:center"><input type="radio" id="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}_1")" name="chk_list_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="1"></td>
                                                                                    <td style="text-align:center"><input type="text" disabled class="form-control" id="chk_list_desc_@($"{Model.CHECKLIST[i].CH_GROUP_ID}_{Model.CHECKLIST[i].CHECK_LIST[j].CH_ID}")" /></td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading_4">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                                    COMFIRM
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_4">
                                            <div class="panel-body">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="dvFile" id="lbProductCompany">
                                                        แนบไฟล์ต่างๆ&nbsp;<span class="text-red dvDomesticCorporate dvNoneShortform">*</span>
                                                        @* <br />(แนบได้ 5 ไฟล์) *@
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div id="dvFile"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <div id="signature"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
    <div class="col-sm-12 text-center">
        <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Submit</button>
        <button id="btnBack" type="button" class="btn btn-dark" title="Back" data-toggle="tooltip"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
    </div>
</div>
<input type="hidden" id="hddUserID" value="@ViewBag.UserID" />
<input type="hidden" id="hddPermission" value="1" />


@* TAB JOB HEADER *@
<script type="text/javascript">

    var ArrFileProductCompany = [];
    var SetUpFileProductCompany = new UploadSetup();

    window.onload = jSignature;

    function jSignature() {
        var $sigdiv = $("#signature");
        $sigdiv.jSignature();
    }

    $(document).ready(function () {

        SetDatePicker($('#txtTest_Tag_Date'));

        InputMaskDecimal('#txtSpecific_Gravity_1', 12, 2, false, false);
        InputMaskDecimal('#txtSpecific_Gravity_2', 12, 2, false, false);

        InputMaskDecimal('#txtVolt_Static_1', 12, 2, false, false);
        InputMaskDecimal('#txtVolt_Static_2', 12, 2, false, false);

        InputMaskDecimal('#txtVolt_Load_1', 12, 2, false, false);
        InputMaskDecimal('#txtVolt_Load_2', 12, 2, false, false);

        SetTxtNumber_INT($('#txtHour_Meter'))


        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });

        CreateFileProductCompany();

    });

    function CreateFileProductCompany() {
        SetUpFileProductCompany.sID = "dvFile";
            SetUpFileProductCompany.Extensions = null;
            SetUpFileProductCompany.ModeMulti = true;
            SetUpFileProductCompany.ArrFile = ArrFileProductCompany;
            SetUpFileProductCompany.HasURL = false;
            SetUpFileProductCompany.Url = '@Url.Action("SaveToServer", "UploadFile")';
            SetUploadFileAjax(SetUpFileProductCompany);
        }

    //ArrFileProductCompany = f.lstFileCopyofIDcard;
    //SetUpFileProductCompany.ArrFile = ArrFileProductCompany;

    //CreateUlUploadFile(SetUpFileProductCompany);
</script>

@* TAB JOB DETAIL *@
<script type="text/javascript">
    var arrJobParts = [];
    var arr_sparepart = @Html.Raw(Json.Serialize(ViewData["SPAREPART"]));
    var UrlCreateJobParts = '@Url.Action("CreateJobParts","Job")';

    $(document).ready(function () {
        $('#tbJobParts').DataTable();

        $('#btnAddJobParts').on('click', function () {

            let length = Enumerable.From(arrJobParts).Count();
            let seq = length + 1;

            let JobParts = {
                SEQ : seq,
                PART_NO: '',
                PART_NAME: '',
                PART_DESC: '',
                PART_TYPE: '',
                PART_TYPE_DESC: '',
                TOTAL: '',
                CREATE_DATE: '',
                CREATE_BY: '',
                STATUS: '',
            };

            arrJobParts.push(JobParts);
            BindTBJobParts();
        });
    });


    function BindDropdownSparePart(seq, sVal) {
        var html = '';
        var option = '';
        var id = 'ddlJobpart_Sparepart_' + seq + '';
        option = '<option selected="">Choose...</option>';
        $.each(arr_sparepart, function (i, el) {
            let selected = '';
            if (el.PART_ID == sVal) {
                selected = 'selected';
            }
            option += '<option ' + selected+' value="' + el.PART_ID + '">' + el.PART_NO + ' - ' + el.PART_NAME+'</option>';
        });
        html = `<select onchange="Jobpart_Sparepart_Change('${seq}')" id='${id}' class="form-control">${option}</select>`;
        return html;
    }

    @* JOB PARTS CHANGE *@
    function Jobpart_Sparepart_Change(seq) {
        let id_select = 'ddlJobpart_Sparepart_' + seq;
        let id_desc = 'txtJobParts_Desc_' + seq;
        let val = GetValDropdown(id_select);

        var Data = Enumerable.From(arr_sparepart).Where(function (w) { return w.PART_ID == val }).FirstOrDefault();
        if (Data) {
            $('#' + id_desc).val("");
            $('#' + id_desc).val(Data.PART_DESC);

            Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().PART_DESC = Data.PART_DESC;
            Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().PART_ID = val;
        }
    }

    function JobParts_QTY_Change(seq) {
        let id_txt = 'txtJobParts_QTY_' + seq;
        let val = GetValTextBox(id_txt);
        Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().TOTAL = val;
    }

    function BindTBJobParts() {
        if ($.fn.DataTable.isDataTable('#tbJobParts')) {
            $('#tbJobParts').DataTable().destroy();
        }

        $("table[id$=tbJobParts] tbody").html("");
        let html = '';
        $.each(arrJobParts, function (i, el) {
            let td = '';
            el.SEQ = i + 1;
            td = '<td class="text-center">' + BindDropdownSparePart(el.SEQ, el.PART_ID) + '</td>';
            td += '<td class="text-center"><textarea disabled type="text" rows="2" class="form-control" id="txtJobParts_Desc_' + el.SEQ + '" name="txtJobParts_Desc_' + el.SEQ + '">'+(el.PART_DESC || '')+'</textarea></td>';
            td += '<td class="text-center"><input onchange="JobParts_QTY_Change(' + el.SEQ + ')" type="text" class="form-control"  id="txtJobParts_QTY_' + el.SEQ + '" name="txtJobParts_QTY_' + el.SEQ + '" value="' + (el.TOTAL || '') + '"></textarea></td>';
            td += '<td class="text-center"><a href="#tbJobParts" onclick="DelJobParts(' + el.SEQ + ')" id="btnJobParts_Del_' + el.SEQ + '" href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i></a></td>';
            html += "<tr>" + td + "</tr>";

        });

        $("table[id$=tbJobParts] tbody").append(html);

        $('#tbJobParts').DataTable();

        SetTextInput_QTY();
    }

    function SetTextInput_QTY() {
        $('input[id^=txtJobParts_QTY_]').each(function (i, el) {
            let id = $(this).attr('id');
            InputMaskDecimal('#' + id+'', 12, 2, false, false);
        });
    }

    function DelJobParts(n) {
        if (!IsNullOrEmpty(n)) {
            arrJobParts = Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ != n }).ToArray();
            BindTBJobParts();
        }
    }

</script>

@* TAB CHECK LIST *@
<script type="text/javascript">
    $(document).ready(function () {

        $('input[type=radio][id^=chk_list_]').change(function () {
            let check_list = 'chk_list_';
            let desc = 'chk_list_desc_';

            let data_id = $(this).attr('id').replace(check_list, "")
            let id = data_id.split('_')
            let id_desc = desc + id[0] + '_' + id[1];

            if (this.value == '1') {
                $('#' + id_desc + '').prop("disabled", false);
            }
            else if (this.value == '0') {
                $('#' + id_desc + '').prop("disabled", true);
            }
        });
    });

    function GetValCheckList() {
        let arr = [];

        $('input[type=radio][name^=chk_list_]:checked').each(function (i, el) {

            let check_list = 'chk_list_';
            let desc = 'chk_list_desc_';

            let data_id = $(this).attr('name').replace(check_list, "")
            let id = data_id.split('_')
            let id_desc = desc + id[0] + '_' + id[1];

            if (this.value == '1') {
                let obj = {
                    CK_ID: id[1],
                    DESCRIPTION: $('#' + id_desc + '').val(),
                    CHECK_LIST: "",
                };
                arr.push(obj);
            }
        });

        return arr;
    }
</script>


