@model StoreManagement.Models.CLOSEJOB
@{
    ViewData["Title"] = "ModifyJob";
    Layout = "~/Views/Shared/_MP_Back.cshtml";

    var JOBTYPE = (JOBTYPE[])ViewData["JOBTYPE"];
    var EMPLOYEE = (TBM_EMPLOYEE[])ViewData["EMPLOYEE"];
    var SPAREPART = (TBM_SPAREPART[])ViewData["SPAREPART"];
    var CHECKLIST = (CHECKLIST[])ViewData["CHECK_LIST_MASTER"];
    var substatus = (tbm_substatus[])ViewData["TBM_SUBSTATUS"];

    var SessionUserInfo = Context.Session.GetObjectFromJson<TM_User>("UserAccount");
}
<script src="~/lib/jSignature/flashcanvas.js"></script>
<script src="~/lib/jSignature/jSignature.min.js"></script>

<style>
    /*    body {
        padding: 50px;
        background: #fff;
    }*/

    .wrapper {
        width: 100%;
    }

    @@media(max-width:992px) {
        .wrapper {
            width: 100%;
        }
    }

    .panel-heading {
        padding: 0;
        border: 0;
        background-color: #000000a6;
    }

    .panel-title > a, .panel-title > a:active {
        display: block;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-decoration: none;
    }

    .panel-heading a:before {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        transition: all 0.5s;
    }

    .panel-heading.active a:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .tbody th {
        color: #fff;
        border: 1px solid #FFFFFF !important;
        background-color: #29abe2 !important;
    }

    /* Large rounded green border */
    hr.lineBlue {
        border: 1px solid #000000;
        border-radius: 5px;
    }
</style>
<style>
    /*   #SignatureController {
        width: 500px;
        height: 150px;
        border: 1px solid black;
    }*/
</style>
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="wrapper center-block">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="d-flex flex-row-reverse">

                                            <div class="p-1">
                                                @if (Model != null && string.IsNullOrEmpty(Model.JOB_DATE))
                                                {
                                                    <button id="btnsj" onclick="sp_update_start_job()" type="button" class="btn btn-info" title="Start job" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Start job</button>
                                                }
                                            </div>
                                            <div class="p-1">
                                                @if (Model != null && string.IsNullOrEmpty(Model.TRAVEL_DATE))
                                                {
                                                    <button id="btntj" onclick="sp_update_travel_job()" type="button" class="btn btn-success" title="Travel job" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Travel Job</button>
                                                }
                                            </div>
                                            <div class="p-1">
                                                @if (Model != null && string.IsNullOrEmpty(Model.RECEIVE_DATE))
                                                {
                                                    <button id="btnrj" onclick="sp_update_receive_job()" type="button" class="btn btn-primary" title="Receive Job" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Receive Job</button>
                                                }
                                            </div>
                                        </div>
                                        <div class="panel-heading active" role="tab" id="heading_1">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                                    JOB HEADER
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading_1">
                                            <div class="panel-body">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="ddlType_job">Type Job</label>
                                                        <select disabled id="ddlType_job" class="form-control">
                                                            <option value="" selected>Choose...</option>
                                                            @{
                                                                if (JOBTYPE != null)
                                                                {
                                                                    foreach (var item in JOBTYPE)
                                                                    {
                                                                        if (Model.TYPE_JOB == item.JOBCODE)
                                                                        {
                                                                            <option selected value="@item.JOBCODE">@item.JOBCODE -@item.JOBDESCRIPTION</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.JOBCODE">@item.JOBCODE -@item.JOBDESCRIPTION</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="ddlEmployee">Employee</label>
                                                        <select id="ddlEmployee" class="form-control">
                                                            <option value="" selected>Choose...</option>
                                                            @{
                                                                if (EMPLOYEE != null)
                                                                {
                                                                    foreach (var item in EMPLOYEE)
                                                                    {
                                                                        if (Model.JOB_DETAIL != null)
                                                                        {
                                                                            if (Model.OWNER_ID == item.USER_ID)
                                                                            {
                                                                                <option selected value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>

                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="txtLicense_No">License No</label>
                                                        <input type="text" class="form-control" id="txtLicense_No" name="txtLicense_No" placeholder="License No" value="@Model.LICENSE_NO - @Model.CUSTOMER_ID" disabled>
                                                        <input type="hidden" class="form-control" id="txtLicense_Email" value="@Model.EMAIL_CUSTOMER">
                                                        <input type="hidden" class="form-control" id="txtCustomerID" value="@Model.CUSTOMER_ID">
                                                        <input type="hidden" class="form-control" id="txtLicense" value="@Model.LICENSE_NO">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="txtEmail">Email</label>
                                                        <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email" maxlength="255" disabled value="@Model.EMAIL_CUSTOMER">
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class=" form-group col-md-6">
                                                        <label for="txtSummarry">Summarry</label>
                                                        <textarea type="text" rows="2" class="form-control" id="txtSummarry" name="txtSummarry" placeholder="Summarry">@Model.SUMMARY</textarea>
                                                    </div>
                                                    <div class=" form-group col-md-6">
                                                        <label for="txtAction">Action</label>
                                                        <textarea type="text" rows="2" class="form-control" id="txtAction" name="txtAction" placeholder="Action">@Model.ACTION</textarea>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="txtResult">Result</label>
                                                        <textarea type="text" rows="2" class="form-control" id="txtResult" name="txtResult" placeholder="Result">@Model.RESULT</textarea>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class=" form-group col-md-6">
                                                        <label for="txtInvoice_No">Invoice No</label>
                                                        <input type="text" class="form-control" id="txtInvoice_No" name="txtInvoice_No" placeholder="Invoice No" value="@Model.INVOICE_NO" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="ddlTransfer_To">Transfer To</label>
                                                        <select id="ddlTransfer_To" class="form-control">
                                                            <option value="" selected>Choose...</option>
                                                            @{
                                                                if (EMPLOYEE != null)
                                                                {
                                                                    foreach (var item in EMPLOYEE)
                                                                    {
                                                                        if (Model.TRANSFER_TO != null && Model.TRANSFER_TO == item.USER_ID)
                                                                        {
                                                                            <option selected value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading_2">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                                                    JOB DETAIL
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading_2">
                                            <div class="panel-body">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <table id="tbBatteryDetails" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                <tr>
                                                                    <th style="text-align:center" colspan="3">BATTERY DETAILS</th>
                                                                </tr>
                                                                <tr>
                                                                    <th></th>
                                                                    <th style="text-align:center">BATTERY #1</th>
                                                                    <th style="text-align:center">BATTERY #2</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>MODEL</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtModel_1" name="txtModel_1" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.B1_MODEL">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtModel_2" name="txtModel_2" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.B2_MODEL">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SERIAL</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSerial_1" name="txtSerial_1" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.B1_SERIAL">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSerial_2" name="txtSerial_2" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.B2_SERIAL">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>AMP HRS</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtAMP_1" name="txtAMP_1" maxlength="10" placeholder="" value="@Model.JOB_DETAIL.B1_AMP_HRS">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtAMP_2" name="txtAMP_2" maxlength="10" placeholder="" value="@Model.JOB_DETAIL.B2_AMP_HRS">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>DATE CODE</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtDate_Code_1" name="txtDate_Code_1" maxlength="20" placeholder="" value="@Model.JOB_DETAIL.B1_DATE_CODE">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtDate_Code_2" name="txtDate_Code_2" maxlength="20" placeholder="" value="@Model.JOB_DETAIL.B2_DATE_CODE">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SPECIFIC GRAVITY</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSpecific_Gravity_1" name="txtSpecific_Gravity_1" placeholder="" value="@Model.JOB_DETAIL.B1_SPEC_GRAVITY">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtSpecific_Gravity_2" name="txtSpecific_Gravity_2" placeholder="" value="@Model.JOB_DETAIL.B2_SPEC_GRAVITY">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>VOLT STATIC</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Static_1" name="txtVolt_Static_1" placeholder="" value="@Model.JOB_DETAIL.B1_VOLT_STATIC">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Static_2" name="txtVolt_Static_2" placeholder="" value="@Model.JOB_DETAIL.B2_VOLT_STATIC">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>VOLT U/LOAD</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Load_1" name="txtVolt_Load_1" placeholder="" value="@Model.JOB_DETAIL.B1_VOLT_LOAD">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtVolt_Load_2" name="txtVolt_Load_2" placeholder="" value="@Model.JOB_DETAIL.B2_VOLT_LOAD">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <table id="tbChargeDetails" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                <tr>
                                                                    <th style="text-align:center" colspan="2">CHARGER DETAILS</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        MANUFACTURER
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCDManufacturer" name="txtCDManufacturer" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.CD_MANUFACT">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        MODEL
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCDModel" name="txtCDModel" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.CD_MODEL">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SERIAL</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCDSerial" name="txtCDSerial" maxlength="50" placeholder="" value="@Model.JOB_DETAIL.CD_SERIAL">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>CD TAG DATE</th>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCD_Tag_Date" name="txtCD_Tag_Date" placeholder="" value="@Model.JOB_DETAIL.CD_TAG_DATE">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th style="text-align:center" colspan="2">HOUR METER</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <input type="text" class="form-control" id="txtCDHour_Meter" name="txtCDHour_Meter" placeholder="กรุณาระบุ HOUR METER" value="@Model.JOB_DETAIL.H_METER">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <table id="tbBatteryDetails" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                <tr>
                                                                    <th style="text-align:center">SERVICEMAN</th>
                                                                    <th style="text-align:center">LABOUR</th>
                                                                    <th style="text-align:center">TRAVEL</th>
                                                                    <th style="text-align:center">TOTAL</th>
                                                                    <th style="text-align:center">FAILURE CODE</th>
                                                                    <th style="text-align:center">FAIR WEAR (Y/N)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        <input type="text" class="form-control" id="txtServiceman" name="txtServiceman" placeholder="กรุณาระบุ SERVICE MAN" value="@Model.JOB_DETAIL.V_SERVICE_MANE">
                                                                    </th>
                                                                    <th>
                                                                        <input type="text" class="form-control" id="txtLabour" name="txtLabour" placeholder="" value="@Model.JOB_DETAIL.V_LABOUR">
                                                                    </th>
                                                                    <th>
                                                                        <input type="text" class="form-control" id="txtTravel" name="txtTravel" placeholder="" value="@Model.JOB_DETAIL.V_TRAVEL">
                                                                    </th>
                                                                    <th>
                                                                        <input type="text" class="form-control" id="txtTotal" name="txtTotal" placeholder="" value="@Model.JOB_DETAIL.V_TOTAL">
                                                                    </th>
                                                                    <th>
                                                                        <input type="text" class="form-control" id="txtFailure_code" name="txtFailure_code" maxlength="20" placeholder="" value="@Model.JOB_DETAIL.FAILURE_CODE">
                                                                    </th>
                                                                    <th>
                                                                        <input type="text" class="form-control" id="txtFair_wear" name="txtFair_wear" maxlength="1" placeholder="กรุณาระบุ (Y/N) เท่านั้น" value="@Model.JOB_DETAIL.FAIR_WEAR" oninput="checkregex(this)">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr class="lineBlue">

                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <button type="button" id="btnAddJobParts" class="btn btn-success" title="Add" data-toggle="tooltip"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <table id="tbJobParts" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                <tr>
                                                                    <th style="text-align:center">PART NUMBER</th>
                                                                    <th style="text-align:center">DESCRIPTION</th>
                                                                    <th style="text-align:center">QTY</th>
                                                                    <th style="text-align:center"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @*@{
                                                                        if (Model.JOB_PARTS != null && Model.JOB_PARTS.Any())
                                                                        {
                                                                            foreach (var item in Model.JOB_PARTS)
                                                                            {
                                                                                <tr>
                                                                                    <td></td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    }*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.TYPE_JOB != "DA")
                                    {


                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading_3">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="true" aria-controls="collapse_3">
                                                        CHECK LIST
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading_3">
                                                <div class="panel-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            @{
                                                                if (CHECKLIST != null)
                                                                {
                                                                    <table style="width:100%" class="table table-bordered">
                                                                        <thead class="thead">
                                                                            <tr>
                                                                                <th style="text-align:center">DESCRIPTION</th>
                                                                                <th style="text-align:center">INISP</th>
                                                                                <th style="text-align:center">ACT</th>
                                                                                <th style="text-align:center">DESC</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @for (int i = 0; i < 7; i++)
                                                                            {
                                                                                <tr>
                                                                                    <th colspan="3">@CHECKLIST[i].CHECK_GROUP_NAME</th>
                                                                                </tr>
                                                                                for (int j = 0; j < CHECKLIST[i]?.CHECK_LIST?.Count(); j++)
                                                                                {
                                                                                    string checked_ = string.Empty;
                                                                                    string Desc = string.Empty;
                                                                                    string disabled_ = "disabled";

                                                                                    if (Model.JOB_CHECKLISTS != null && Model.JOB_CHECKLISTS.Any())
                                                                                    {
                                                                                        var Data_Edit = Model.JOB_CHECKLISTS.FirstOrDefault(w => w.CK_ID == CHECKLIST[i].CHECK_LIST[j].CH_ID && w.CHECK_LIST == "Y");
                                                                                        if (Data_Edit != null)
                                                                                        {
                                                                                            checked_ = "checked";
                                                                                            Desc = Data_Edit.DESCRIPTION;
                                                                                            disabled_ = string.Empty;
                                                                                        }
                                                                                    }
                                                                                    <tr>
                                                                                        <td>@CHECKLIST[i].CHECK_LIST[j].CHECK_NAME</td>
                                                                                        <td style="text-align:center"><input type="radio" id="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}_0")" name="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="0" @(string.IsNullOrEmpty(checked_) ? "checked" : "")></td>
                                                                                        <td style="text-align:center"><input type="radio" id="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}_1")" name="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="1" @checked_></td>
                                                                                        <td style="text-align:center"><input type="text" @disabled_ class="form-control" id="chk_list_desc_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="@Desc" /></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @{
                                                                if (CHECKLIST != null && Model.TYPE_JOB != "DA")
                                                                {
                                                                    <table style="width:100%" class="table table-bordered">
                                                                        <thead class="thead">
                                                                            <tr>
                                                                                <th style="text-align:center">DESCRIPTION</th>
                                                                                <th style="text-align:center">INISP</th>
                                                                                <th style="text-align:center">ACT</th>
                                                                                <th style="text-align:center">DESC</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @for (int i = 7; i < CHECKLIST.Count(); i++)
                                                                            {
                                                                                <tr>
                                                                                    <th colspan="3">@CHECKLIST[i].CHECK_GROUP_NAME</th>
                                                                                </tr>
                                                                                for (int j = 0; j < CHECKLIST[i]?.CHECK_LIST?.Count(); j++)
                                                                                {
                                                                                    string checked_ = string.Empty;
                                                                                    string Desc = string.Empty;
                                                                                    string disabled_ = "disabled";

                                                                                    if (Model.JOB_CHECKLISTS != null && Model.JOB_CHECKLISTS.Any())
                                                                                    {
                                                                                        var Data_Edit = Model.JOB_CHECKLISTS.FirstOrDefault(w => w.CK_ID == CHECKLIST[i].CHECK_LIST[j].CH_ID && w.CHECK_LIST == "Y");
                                                                                        if (Data_Edit != null)
                                                                                        {
                                                                                            checked_ = "checked";
                                                                                            Desc = Data_Edit.DESCRIPTION;
                                                                                            disabled_ = string.Empty;
                                                                                        }
                                                                                    }
                                                                                    <tr>
                                                                                        <td>@CHECKLIST[i].CHECK_LIST[j].CHECK_NAME</td>
                                                                                        <td style="text-align:center"><input type="radio" id="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}_0")" name="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="0" @(string.IsNullOrEmpty(checked_) ? "checked" : "")></td>
                                                                                        <td style="text-align:center"><input type="radio" id="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}_1")" name="chk_list_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="1" @checked_></td>
                                                                                        <td style="text-align:center"><input type="text" @disabled_ class="form-control" id="chk_list_desc_@($"{CHECKLIST[i].CH_GROUP_ID}_{CHECKLIST[i].CHECK_LIST[j].CH_ID}")" value="@Desc" /></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                }


                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading_4">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_4" aria-expanded="true" aria-controls="collapse_4">
                                                        COMFIRM
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_4" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading_4">
                                                <div class="panel-body">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label" for="dvFile" id="lbProductCompany">
                                                            แนบไฟล์ต่างๆ&nbsp;<span class="text-red dvDomesticCorporate dvNoneShortform">*</span>
                                                            @* <br />(แนบได้ 5 ไฟล์) *@
                                                        </label>
                                                        <div class="col-sm-10">
                                                            <div id="dvFile"></div>
                                                        </div>
                                                    </div>
                                                    <hr class="lineBlue" />
                                                    <div class="form-row">
                                                        <div class="form-group col-md-10" style="text-align:center">
                                                            <div id="signatureparent">
                                                                <div id="signature"></div>
                                                            </div>
                                                            <div id="PreviewSignature">
                                                                <img id="ItemPreviewSignature" src="" width="500">
                                                            </div>
                                                            <input type="button" class="btn btn-danger" value="Clear" onclick="clearsign()"/>
                                                        </div>
                                                        @*<div class="form-group col-md-2">
                                                                <button id="btnConfirmSignature" type="button" class="btn-md btn-outline-info" title="Confirm" data-toggle="tooltip"><i class="fa fa-check"></i>&nbsp;Confrim Signature</button>
                                                                <button id="btnClearSignature" type="button" class="btn-md btn-outline-dark" title="Confirm" data-toggle="tooltip"><i class="fas fa-undo"></i>&nbsp;Clear</button>

                                                            </div>*@
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <table id="tbImage_Detail" style="width:100%" class="table tableData">
                                                            <thead class="thead-HMCPO darkCustom">
                                                                <tr>
                                                                    <th style="text-align:center">#</th>
                                                                    <th style="text-align:center">IMAGE_DESCRIPTION</th>
                                                                    <th style="text-align:center">IMAGE_NAME</th>
                                                                    <th style="text-align:center"></th>
                                                                    <th style="text-align:center"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @*@{
                                                                        if (Model.IMAGE_DETAIL != null && Model.IMAGE_DETAIL.Any())
                                                                        {
                                                                            int i = 1;
                                                                            foreach (var item in Model.IMAGE_DETAIL)
                                                                            {
                                                                                <tr>
                                                                                    <td style="text-align:center">@i</td>
                                                                                    <td style="text-align:left">@item.IMAGE_DESCRIPTION</td>
                                                                                    <td style="text-align: left">@item.IMG_NAME</td>
                                                                                    <td style="text-align:center"><a href="" class="btn btn-sm btn-info"><i class="fas fa-eye"></i></a></td>
                                                                                </tr>
                                                                                i++;
                                                                            }
                                                                        }
                                                                    }*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
    <div class="col-sm-12 text-center">
        @{
            if (Model != null && (Model.JOB_STATUS == "D" || string.IsNullOrEmpty(Model.JOB_STATUS)))
            {
                <div class="form-row">
                <div class="form-group col-md-12">
                <label>สถานะการทำงาน :</label>
                <select  id="ddlsub_job" class="form-control">                                                           
                                                            @{
                                                                if (substatus != null)
                                                                {
                                                                    foreach (var item in substatus)
                                                                    {                                  
                                                                            <option value="@item.STATUS_CODE">@item.STATUS_DESCRIPTION</option>                                                                     
                                                                    }
                                                                }
                                                            }
                                                        </select>                                                       
                </div>               
                </div>
                <div class="form-row">
                <div class="form-group col-md-12">
                        <label>หมายเหตุ :</label>
                        <textarea id="subremark" rows="4" cols="50">
                                                                </textarea>
                </div>
                </div>
                
                                    
                <button id="btnDraft" type="button" class="btn btn-info" title="Draft" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Save Draft</button>
            }
        }
        @{
            if (SessionUserInfo.POSITION == "CK" || SessionUserInfo.POSITION == "MG")
            {
                if (Model != null && !string.IsNullOrEmpty(Model.RECEIVE_DATE) && !string.IsNullOrEmpty(Model.TRAVEL_DATE) && !string.IsNullOrEmpty(Model.JOB_DATE))
                {
                    <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Close Job</button>
                }
                if (Model.JOB_STATUS == "C" && Model?.IMAGE_DETAIL != null && Model.IMAGE_DETAIL.Where(a => a.IMAGE_TYPE == "rpt").Any())
                {
                    var img = (tbt_job_image)Model.IMAGE_DETAIL.Where(a => a.IMAGE_TYPE == "rpt").FirstOrDefault();
                    <a id="btnPDF" href="@Url.Action("ViewImage", "Job",new { IJOB_ID=img.IJOB_ID_ENCRYPT,SEQ=img.SEQ_ENCRYPT })" target="_blank" class="btn btn-info" title="PDF" data-toggle="tooltip">
                        <i class="fa fa-file-pdf-o"></i>&nbsp;Download PDF
                    </a>
                }
            }
            else if ((SessionUserInfo.POSITION == "MN" || SessionUserInfo.POSITION == "OS") && Model != null && (Model.JOB_STATUS == "D" || string.IsNullOrEmpty(Model.JOB_STATUS)))
            {
                if (Model != null && !string.IsNullOrEmpty(Model.RECEIVE_DATE) && !string.IsNullOrEmpty(Model.TRAVEL_DATE) && !string.IsNullOrEmpty(Model.JOB_DATE))
                {
                    <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Close Job</button>
                }
            }
        }
        <button id="btnBack" type="button" class="btn btn-dark" title="Back" data-toggle="tooltip"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
    </div>
</div>
<input type="hidden" id="hddID" value="@Model.JOB_ID" />
<input type="hidden" id="hddUserID" value="@ViewBag.UserID" />
<input type="hidden" id="hddPermission" value="@SessionUserInfo.POSITION" />


@section Scripts{

    @* jSignature *@
    <script src="~/lib/jSignature-master/libs/jSignature.min.js"></script>
    <script src="~/lib/jSignature-master/libs/flashcanvas.js"></script>
    <script src="~/lib/jSignature-master/src/plugins/jSignature.CompressorBase30.js"></script>
    <script src="~/lib/jSignature-master/src/plugins/jSignature.CompressorSVG.js"></script>
    <script src="~/lib/jSignature-master/src/plugins/jSignature.UndoButton.js"></script>
    <script src="~/lib/jSignature-master/src/plugins/signhere/jSignature.SignHere.js"></script>

    @* TAB JOB HEADER *@
    <script type="text/javascript">

    var ArrFileTemp = [];
    var SetUpFile = new UploadSetup();

        $(document).ready(function () {
            $("#signature").jSignature({
                color: "#000000",
                lineWidth: 2,
                width: 800,
                height: 200,
            });
            
            //$("#signature").jSignature({

            //    // line color
            //    color: "#f00",

            //    // line width
            //    lineWidth: 5,

            //    // width/height of signature pad
            //    width: 800,
            //    height: 200,

            //    // background color
            //    //background-color: "#0f0"
            //    });

            SetDatePicker($('#txtCD_Tag_Date'));

        InputMaskDecimal('#txtSpecific_Gravity_1', 12, 2, false, false);
        InputMaskDecimal('#txtSpecific_Gravity_2', 12, 2, false, false);

        InputMaskDecimal('#txtVolt_Static_1', 12, 2, false, false);
        InputMaskDecimal('#txtVolt_Static_2', 12, 2, false, false);

        InputMaskDecimal('#txtVolt_Load_1', 12, 2, false, false);
        InputMaskDecimal('#txtVolt_Load_2', 12, 2, false, false);

        SetTxtNumber_INT($('#txtHour_Meter'));

        SetTxtNumber_INT($('#txtCDHour_Meter'));

        @* V *@
      /*  SetTxtNumber_INT($('#txtServiceman'));*/
        InputMaskDecimal('#txtLabour', 12, 2, false, false);
        InputMaskDecimal('#txtTravel', 12, 2, false, false);
        InputMaskDecimal('#txtTotal', 12, 2, false, false);


        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });

        CreateFileProductCompany();

        });
        const clearsign = () => {
            $("#signature").jSignature("reset")
        }
    function CreateFileProductCompany() {
        SetUpFile.sID = "dvFile";
            SetUpFile.Extensions = Extension.Image;
            SetUpFile.ModeMulti = true;
            SetUpFile.ArrFile = ArrFileTemp;
            SetUpFile.HasURL = false;
            SetUpFile.Url = '@Url.Action("SaveToServer", "UploadFile")';
            SetUploadFileAjax(SetUpFile);
        }

    //ArrFileTemp = f.lstFileCopyofIDcard;
    //SetUpFile.ArrFile = ArrFileTemp;

    //CreateUlUploadFile(SetUpFile);
    </script>

    @* TAB JOB DETAIL *@
    <script type="text/javascript">
    var arrJobParts = @Html.Raw(Json.Serialize(Model.JOB_PARTS)) == null ? [] : @Html.Raw(Json.Serialize(Model.JOB_PARTS));
    var arrImage_Detail = @Html.Raw(Json.Serialize(Model.IMAGE_DETAIL)) == null ? [] : @Html.Raw(Json.Serialize(Model.IMAGE_DETAIL));

    var arr_sparepart = @Html.Raw(Json.Serialize(ViewData["SPAREPART"]));
    var UrlCreateJobParts = '@Url.Action("CreateJobParts","Job")';

    $(document).ready(function () {
        BindTBJobParts();
        BindDataTableImageDetail();

        $('#btnAddJobParts').on('click', function () {

            let length = Enumerable.From(arrJobParts).Count();
            let seq = length + 1;

            let JobParts = {
                SEQ : seq,
                PART_NO: '',
                PART_NAME: '',
                PART_DESC: '',
                PART_TYPE: '',
                PART_TYPE_DESC: '',
                TOTAL: '',
                CREATE_DATE: '',
                CREATE_BY: '',
                STATUS: '',
            };

            arrJobParts.push(JobParts);
            BindTBJobParts();
        });
    });


    function BindDropdownSparePart(seq, sVal) {
        var html = '';
        var option = '';
        var id = 'ddlJobpart_Sparepart_' + seq + '';
        option = '<option value="" selected="">Choose...</option>';
        $.each(arr_sparepart, function (i, el) {
            let selected = '';
            if (el.PART_ID == sVal) {
                selected = 'selected';
            }
            option += '<option ' + selected + ' value="' + el.PART_ID + '" data-item="' + el.PART_NO + '">' + el.PART_NO + ' - ' + el.PART_NAME + ' - ' + el.LOCATION_NAME + ' (' + el.PART_ID +')</option>';
        });
        html = `<select onchange="Jobpart_Sparepart_Change('${seq}')" id='${id}' class="form-control">${option}</select>`;
        return html;
    }

    @* JOB PARTS CHANGE *@
        function Jobpart_Sparepart_Change(seq) {
            let id_txtQTY = 'txtJobParts_QTY_' + seq;
            let id_select = 'ddlJobpart_Sparepart_' + seq;
            let id_desc = 'txtJobParts_Desc_' + seq;
            let val = GetValDropdown(id_select);
            let part_no = $('#' + id_select).find('option:selected').attr('data-item');
            $('#' + id_txtQTY).val("");

            var dup = Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ != seq && w.PART_ID == val }).ToArray();
            if (dup.length > 0) {
                DialogWarning(AlertMsg.Desc_Warning_Duplicate);
                $('#' + id_select).val("");
                $('#' + id_desc).val("");
            } else {
                var Data = Enumerable.From(arr_sparepart).Where(function (w) { return w.PART_ID == val }).FirstOrDefault();
            if (Data) {
                $('#' + id_desc).val("");
                $('#' + id_desc).val(Data.PART_DESC);
                console.log(Data.PART_VALUE)
                $('#txtJobParts_QTY_' + seq).attr('max', Data.PART_VALUE);
                $('#txtJobParts_QTY_' + seq).attr('partid', Data.PART_ID);
                Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().PART_DESC = Data.PART_DESC;
                Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().PART_ID = val;
                Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().PART_NO = part_no;
            }
        }
    }

        function JobParts_QTY_Change(seq) {
        //if (+$('#txtJobParts_QTY_' + seq).val() > +$('#txtJobParts_QTY_' + seq).attr('max')) {
        //    SwAlert.Confirm(
        //        AlertTitle.Warning,
        //        "Max Value : " + $('#txtJobParts_QTY_' + seq).attr('max'),
        //        function () {
        //            $('#txtJobParts_QTY_' + seq).val($('#txtJobParts_QTY_' + seq).attr('max'));
        //            swal.close();
        //        }, function () {
        //            $('#txtJobParts_QTY_' + seq).val("");
        //    });
              $.ajax({
                url: '@Url.Action("SPAREPART_ONHAND", "Job")',
                type: 'POST',
                  dataType: 'json',
                  data: { 'partid': $(`#ddlJobpart_Sparepart_${seq}`).val(), 'jobid': $('#hddID').val() },
                success: function (response) {
                    UnblockUI();
                    {
                        // console.log(response)
                        if (+$(`#txtJobParts_QTY_${seq}`).val() > +response.PART_VALUE) {
                                SwAlert.Confirm(
                                    AlertTitle.Warning,
                                    `Max Value :${ response.PART_VALUE}`,
                                    function () {
                                        $(`#txtJobParts_QTY_${seq}`).val(response.PART_VALUE);
                                        swal.close();
                                    }, function () {
                                        $(`#txtJobParts_QTY_${seq}`).val("");
                                        let index = arrJobParts.findIndex(a => a.SEQ == seq)
                                        if (index) {
                                            arrJobParts[index].TOTAL = ""
                                        }
                                });
                        }
                        let id_txt = `txtJobParts_QTY_${seq}`;
                        let val = GetValTextBox(id_txt);
                        Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ == seq }).FirstOrDefault().TOTAL = val;
                    }
                },
                  error: function (error) {
                      console.log(error)
                }
            });
        }

    function BindTBJobParts() {
        if ($.fn.DataTable.isDataTable('#tbJobParts')) {
            $('#tbJobParts').DataTable().destroy();
        }

        $("table[id$=tbJobParts] tbody").html("");
        let html = '';
        $.each(arrJobParts, function (i, el) {
            let td = '';
            el.SEQ = i + 1;
            td = '<td class="text-center">' + BindDropdownSparePart(el.SEQ, el.PART_ID) + '</td>';
            td += '<td class="text-center"><textarea disabled type="text" rows="2" class="form-control" id="txtJobParts_Desc_' + el.SEQ + '" name="txtJobParts_Desc_' + el.SEQ + '">'+(el.PART_DESC || '')+'</textarea></td>';
            td += '<td class="text-center"><input onchange="JobParts_QTY_Change(' + el.SEQ + ')" type="number" class="form-control"  id="txtJobParts_QTY_' + el.SEQ + '" name="txtJobParts_QTY_' + el.SEQ + '" value="' + (el.TOTAL || '') + '"></textarea></td>';
            td += '<td class="text-center"><a href="javascript:function() { return false; }" onclick="DelJobParts(' + el.SEQ + ')" id="btnJobParts_Del_' + el.SEQ + '" href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i></a></td>';
            html += "<tr>" + td + "</tr>";

        });

        $("table[id$=tbJobParts] tbody").append(html);

        $('#tbJobParts').DataTable();

        SetTextInput_QTY();
    }

    function SetTextInput_QTY() {
        $('input[id^=txtJobParts_QTY_]').each(function (i, el) {
            let id = $(this).attr('id');
            InputMaskDecimal('#' + id + '', 12, 2, false, false);
        });

        //$('input[id^=txtJobParts_QTY_]').blur(function () {
        //    var seq = $(this).attr('id').replace('txtJobParts_QTY_', '');
        //    //DialogWarning(seq);
        //    JobParts_QTY_Change(seq);
        //});
    }

    function DelJobParts(n) {
        if (!IsNullOrEmpty(n)) {
            DialogConfirmDel(function () {
                swal.disableButtons();
                arrJobParts = Enumerable.From(arrJobParts).Where(function (w) { return w.SEQ != n }).ToArray();
                BindTBJobParts();
                swal.close();
            });
        }
    }

    function BindDataTableImageDetail() {
        $("#tbImage_Detail tbody").html("");
            let html = '';
        $.each(arrImage_Detail, function (i, el) {
            if (el.IMAGE_TYPE != 'rpt') {
                 let td = '';
                td = '<td class="text-center">' + (i+1)+ '</td>';
                td += '<td>' + (el.IMAGE_DESCRIPTION || '') + '</td>';
                td += '<td>' + (el.IMG_NAME || '') + '</td>';
                td += '<td class="text-center">' + '<a href="@Url.Action("ViewImage", "Job")' + '?IJOB_ID=' + el.IJOB_ID_ENCRYPT + '&&SEQ=' + el.SEQ_ENCRYPT + '" target="_blank" class="btn btn-sm btn-info"><i class="fas fa-eye"></i></a>' + '</td>';
                td += '<td class="text-center">' + `<a href="javascript:function() { return false; }" onclick="DeleteImageDetail('${ el.IJOB_ID_ENCRYPT } ','${ el.SEQ_ENCRYPT }')" class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i></a>` + '</td>';
                html += "<tr>" + td + "</tr>";
            }
            });
        $("table[id$=tbImage_Detail] tbody").html(html);
        let table = $('#tbImage_Detail').DataTable({
            //scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [
                [0, 'asc']
            ]
        });
    }

    function DeleteImageDetail(id, seq) {
        DialogConfirmDel(function () {
            swal.disableButtons();
            BlockUI();
            $.ajax({
                url: '@Url.Action("DeleteImageDetail", "Job")',
                type: 'POST',
                dataType: 'json',
                data: { 'IJOB_ID':id,'SEQ':seq },
                success: function (response) {
                    UnblockUI();
                    if (response.Status == SysProcess.SessionExpired) {
                        PopupSessionTimeOut('@Url.Action("Index","Login")');
                    } else if (response.Status == SysProcess.Duplicate) {
                        DialogDuplicate();
                    } else if (response.Status == SysProcess.Failed) {
                        DialogWarning(response.Msg);
                    } else {
                        DialogSucessCallBack(function () { window.location.reload()});
                    }
                },
                error: function () {
                }
            });
        });
        }
    const sp_update_receive_job = () => {
        let obj = {
            'JOB_ID': GetValTextBox('hddID')
        }
        DialogConfirmReceive(function () {
            swal.disableButtons();
            BlockUI();
            $.ajax({
                url: '@Url.Action("sp_update_receive_job", "Job")',
                type: 'POST',
                dataType: 'json',
                data: { 'data': obj },
                success: function (response) {
                    UnblockUI();
                    if (response.Status == SysProcess.SessionExpired) {
                        PopupSessionTimeOut('@Url.Action("Index","Login")');
                    } else if (response.Status == SysProcess.Duplicate) {
                        DialogDuplicate();
                    } else if (response.Status == SysProcess.Failed) {
                        DialogWarning(response.Msg);
                    } else {
                        DialogSucessCallBack(function () { window.location.reload()});
                    }
                },
                error: function () {
                }
            });
        });
        }
    const sp_update_start_job = () => {
        let obj = {
            'JOB_ID': GetValTextBox('hddID')
        }
        DialogConfirmStart(function () {
            swal.disableButtons();
            BlockUI();
            $.ajax({
                url: '@Url.Action("sp_update_start_job", "Job")',
                type: 'POST',
                dataType: 'json',
                data: { 'data': obj } ,
                success: function (response) {
                    UnblockUI();
                    if (response.Status == SysProcess.SessionExpired) {
                        PopupSessionTimeOut('@Url.Action("Index","Login")');
                    } else if (response.Status == SysProcess.Duplicate) {
                        DialogDuplicate();
                    } else if (response.Status == SysProcess.Failed) {
                        DialogWarning(response.Msg);
                    } else {
                        DialogSucessCallBack(function () { window.location.reload()});
                    }
                },
                error: function () {
                }
            });
        });
    }
    const sp_update_travel_job = () => {
        let obj = {
            'JOB_ID': GetValTextBox('hddID')
        }
        DialogConfirmTravel(function () {
            swal.disableButtons();
            BlockUI();
            $.ajax({
                url: '@Url.Action("sp_update_travel_job", "Job")',
                type: 'POST',
                dataType: 'json',
                data: { 'data': obj } ,
                success: function (response) {
                    UnblockUI();
                    if (response.Status == SysProcess.SessionExpired) {
                        PopupSessionTimeOut('@Url.Action("Index","Login")');
                    } else if (response.Status == SysProcess.Duplicate) {
                        DialogDuplicate();
                    } else if (response.Status == SysProcess.Failed) {
                        DialogWarning(response.Msg);
                    } else {
                        DialogSucessCallBack(function () { window.location.reload()});
                    }
                },
                error: function () {
                }
            });
        });
        }

    </script>

    @* TAB CHECK LIST *@
    <script type="text/javascript">
        $(document).ready(function () {

            $('input[type=radio][id^=chk_list_]').change(function () {
                let check_list = 'chk_list_';
                let desc = 'chk_list_desc_';

                let data_id = $(this).attr('id').replace(check_list, "")
                let id = data_id.split('_')
                let id_desc = desc + id[0] + '_' + id[1];

                if (this.value == '1') {
                    $('#' + id_desc + '').prop("disabled", false);
                }
                else if (this.value == '0') {
                    $('#' + id_desc + '').prop("disabled", true);
                }
            });
        });

        function GetValCheckList() {
            let arr = [];

            $('input[type=radio][name^=chk_list_]:checked').each(function (i, el) {

                let check_list = 'chk_list_';
                let desc = 'chk_list_desc_';

                let data_id = $(this).attr('name').replace(check_list, "")
                let id = data_id.split('_')
                let id_desc = desc + id[0] + '_' + id[1];

                if (this.value == '1') {
                    let obj = {
                        CK_ID: id[1],
                        DESCRIPTION: $('#' + id_desc + '').val(),
                        CHECK_LIST: "",
                    };
                    arr.push(obj);
                }
            });

            return arr;
        }
    </script>

    @* SAVE DATA *@
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnBack').on('click', function () {
            window.Redirect('@(Url.Action("Index",@ViewContext.RouteData.Values["Controller"].ToString()))');
        });

        $('#btnSubmit').on('click', function () {
            var prm = GetValTextBox('hddPermission');
            if (prm == 'MN' || prm == 'OS') {
                SAVEDATA('F','N');
            } else if (prm == 'CK' || prm == 'MG') {
                SAVEDATA('C','N');
            } else {
                DialogWarning('No Permission!');
            }

        });

        $('#btnDraft').on('click', function () {
            SAVEDATA('D','');
        });
    });

        const closejb = (JOB_STATUS, FLG_CLOSE) => {
            swal.disableButtons();
            var obj = {
                'JOB_ID': GetValTextBox('hddID'),
                'SUMMARY': GetValTextArea('txtSummarry'),
                'ACTION': GetValTextArea('txtAction'),
                'RESULT': GetValTextArea('txtResult'),
                'TRANSFER_TO': GetValDropdown('ddlTransfer_To'),
                'INVOICE_NO': GetValTextBox('txtInvoice_No'),
                'USERID': "",
                'JOB_DETAIL': {
                    'BJOB_ID': GetValTextBox('hddID'),
                    'B1_MODEL': GetValTextBox('txtModel_1'),
                    'B1_SERIAL': GetValTextBox('txtSerial_1'),
                    'B1_AMP_HRS': GetValTextBox('txtAMP_1'),
                    'B1_DATE_CODE': GetValTextBox('txtDate_Code_1'),
                    'B1_SPEC_GRAVITY': GetValTextBox('txtSpecific_Gravity_1'),
                    'B1_VOLT_STATIC': GetValTextBox('txtVolt_Static_1'),
                    'B1_VOLT_LOAD': GetValTextBox('txtVolt_Load_1'),
                    'B2_MODEL': GetValTextBox('txtModel_2'),
                    'B2_SERIAL': GetValTextBox('txtSerial_2'),
                    'B2_AMP_HRS': GetValTextBox('txtAMP_2'),
                    'B2_DATE_CODE': GetValTextBox('txtDate_Code_2'),
                    'B2_SPEC_GRAVITY': GetValTextBox('txtSpecific_Gravity_2'),
                    'B2_VOLT_STATIC': GetValTextBox('txtVolt_Static_2'),
                    'B2_VOLT_LOAD': GetValTextBox('txtVolt_Load_2'),
                    'CD_MANUFACT': GetValTextBox('txtCDManufacturer'),
                    'CD_MODEL': GetValTextBox('txtCDModel'),
                    'CD_SERIAL': GetValTextBox('txtCDSerial'),
                    'CD_TAG_DATE': GetValTextBox('txtCD_Tag_Date'),
                    'H_METER': GetValTextBox('txtCDHour_Meter'),
                    'V_SERVICE_MANE': GetValTextBox('txtServiceman'),
                    'V_LABOUR': GetValTextBox('txtLabour'),
                    'V_TRAVEL': GetValTextBox('txtTravel'),
                    'V_TOTAL': GetValTextBox('txtTotal'),
                    'FAILURE_CODE': GetValTextBox('txtFailure_code'),
                    'FAIR_WEAR': GetValTextBox('txtFair_wear'),
                },
                'JOB_CHECKLISTS': GetValCheckList(), // CK_ID,DESCRIPTION
                //'JOB_IMAGES': [
                //    { 'IMAGE_TYPE': '' }
                //],
                //'IMAGE_DETAIL': [
                //   {
                //       'IJOB_ID': '',
                //       'SEQ': '',
                //       'IMG_NAME': '',
                //       'IMAGE_DESCRIPTION': '',
                //       'IMG_PATH': '',
                //       'IMAGE_TYPE': '',
                //   }
                //],
                'JOB_PARTS': arrJobParts,
                'JOB_STATUS': JOB_STATUS,
                'FLG_CLOSE': FLG_CLOSE,
                'substatus':JOB_STATUS=='D'?$('#ddlsub_job').val():''
                'substatus_remark':JOB_STATUS=='D'?$('#subremark').val():''
            };

            if (!GetValTextBox('txtCDHour_Meter')) {
                $('#txtCDHour_Meter').focus()
                return
            }
            if (!GetValTextBox('txtServiceman')) {
                $('#txtServiceman').focus()
                return
            }
            if (!GetValTextBox('txtFair_wear')) {
              //  DialogWarning("กรุณาระบุ txtFair_wear (Y/N) เท่านั้น");
                $('#txtFair_wear').focus()
                return
            }
            BlockUI();
            $.ajax({
                url: '@Url.Action("CloseJob", "Job")',
                type: 'POST',
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: { 'data': obj, 'arr_file': ArrFileTemp, 'SIGNNATURE': $("#signature").jSignature('getData') },
                success: function (response) {
                    UnblockUI();
                    if (response.Status == SysProcess.SessionExpired) {
                        PopupSessionTimeOut('@Url.Action("Index", "Login")');
                    } else if (response.Status == SysProcess.Duplicate) {
                        DialogDuplicate();
                    } else if (response.Status == SysProcess.Failed) {
                        DialogWarning(response.Msg);
                    } else {
                        if (response.Msg != undefined && response.Msg != '') {
                            SwAlert.Confirm(AlertTitle.Confirm, response.Msg, function () {
                                SAVEDATA(JOB_STATUS, 'Y');
                            }, function () {
                                UnblockUI();
                                swal.close();
                            });
                        } else {
                             DialogSucessRedirect('@Url.Action("Index", "Job")');
                        }
                    }
                },
                error: function () {
                }
            });
    }

    function SAVEDATA(JOB_STATUS, FLG_CLOSE) {

        let msg = AlertMsg.ConfirmCloseJob;
        if (JOB_STATUS == 'D') {
            msg = AlertMsg.ConfirmSaveDraft;
            SwAlert.Confirm(AlertTitle.Confirm, msg, closejb(JOB_STATUS, FLG_CLOSE));
        } else {
            closejb(JOB_STATUS, FLG_CLOSE)
        }


        @*DialogConfirmCloseJob(function () {
            swal.disableButtons();

            var obj = {
                'JOB_ID': GetValTextBox('hddID'),
                'SUMMARY': GetValTextArea('txtSummarry'),
                'ACTION': GetValTextArea('txtAction'),
                'RESULT': GetValTextArea('txtResult'),
                'TRANSFER_TO': GetValDropdown('ddlTransfer_To'),
                'INVOICE_NO': GetValTextBox('txtInvoice_No'),
                'USERID': "",
                'JOB_DETAIL': {
                    'BJOB_ID': GetValTextBox('hddID'),
                    'B1_MODEL': GetValTextBox('txtModel_1'),
                    'B1_SERIAL': GetValTextBox('txtSerial_1'),
                    'B1_AMP_HRS': GetValTextBox('txtAMP_1'),
                    'B1_DATE_CODE': GetValTextBox('txtDate_Code_1'),
                    'B1_SPEC_GRAVITY': GetValTextBox('txtSpecific_Gravity_1'),
                    'B1_VOLT_STATIC': GetValTextBox('txtVolt_Static_1'),
                    'B1_VOLT_LOAD': GetValTextBox('txtVolt_Load_1'),
                    'B2_MODEL': GetValTextBox('txtModel_2'),
                    'B2_SERIAL': GetValTextBox('txtSerial_2'),
                    'B2_AMP_HRS': GetValTextBox('txtAMP_2'),
                    'B2_DATE_CODE': GetValTextBox('txtDate_Code_2'),
                    'B2_SPEC_GRAVITY': GetValTextBox('txtSpecific_Gravity_2'),
                    'B2_VOLT_STATIC': GetValTextBox('txtVolt_Static_2'),
                    'B2_VOLT_LOAD': GetValTextBox('txtVolt_Load_2'),
                    'CD_MANUFACT': GetValTextBox('txtCDManufacturer'),
                    'CD_MODEL': GetValTextBox('txtCDModel'),
                    'CD_SERIAL': GetValTextBox('txtCDSerial'),
                    'CD_TAG_DATE': GetValTextBox('txtCD_Tag_Date'),
                    'H_METER': GetValTextBox('txtCDHour_Meter'),
                    'V_SERVICE_MANE': GetValTextBox('txtServiceman'),
                    'V_LABOUR': GetValTextBox('txtLabour'),
                    'V_TRAVEL': GetValTextBox('txtTravel'),
                    'V_TOTAL': GetValTextBox('txtTotal'),
                    'FAILURE_CODE': GetValTextBox('txtFailure_code'),
                    'FAIR_WEAR': GetValTextBox('txtFair_wear'),
                },
                'JOB_CHECKLISTS': GetValCheckList(), // CK_ID,DESCRIPTION
                //'JOB_IMAGES': [
                //    { 'IMAGE_TYPE': '' }
                //],
                //'IMAGE_DETAIL': [
                //   {
                //       'IJOB_ID': '',
                //       'SEQ': '',
                //       'IMG_NAME': '',
                //       'IMAGE_DESCRIPTION': '',
                //       'IMG_PATH': '',
                //       'IMAGE_TYPE': '',
                //   }
                //],
                'JOB_PARTS': arrJobParts,
                'JOB_STATUS': JOB_STATUS,
                'FLG_CLOSE': FLG_CLOSE,
            };
            BlockUI();
            $.ajax({
                url: '@Url.Action("CloseJob", "Job")',
                type: 'POST',
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: { 'data': obj, 'arr_file': ArrFileTemp, 'SIGNNATURE': $("#signature").jSignature('getData') },
                success: function (response) {
                    UnblockUI();
                    if (response.Status == SysProcess.SessionExpired) {
                        PopupSessionTimeOut('@Url.Action("Index", "Login")');
                    } else if (response.Status == SysProcess.Duplicate) {
                        DialogDuplicate();
                    } else if (response.Status == SysProcess.Failed) {
                        DialogWarning(response.Msg);
                    } else {
                        if (response.Msg != undefined && response.Msg != '') {
                            SwAlert.Confirm(AlertTitle.Confirm, response.Msg, function () {
                                SAVEDATA(JOB_STATUS, 'Y');
                            }, function () {
                                UnblockUI();
                                swal.close();
                            });
                        } else {
                             DialogSucessRedirect('@Url.Action("Index", "Job")');
                        }
                    }
                },
                error: function () {
                }
            });
        });*@
    }

        const checkregex = (action) => {
            if (!(/Y|N/gmi).test(action.value)) {
                action.value = ''
            } else {
                action.value = action.value.toUpperCase()
            }
        }


    </script>

    @* Signature *@
    <script type="text/javascript">

    @*$(document).ready(function () {
        $('#btnConfirmSignature').on('click', function () {
            DialogConfirmSignature(function () {
                    swal.disableButtons();
                    BlockUI();
                    $.ajax({
                        url: '@Url.Action("SaveSignature", "Job")',
                        type: 'POST',
                        //contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: { 'SIGNATURE': $("#signature").jSignature('getData') },
                        success: function (response) {
                            UnblockUI();
                            swal.close();
                            if (response.Status == SysProcess.SessionExpired) {
                                PopupSessionTimeOut();
                            } else if (response.Status == SysProcess.Duplicate) {
                                DialogDuplicate();
                            } else if (response.Status == SysProcess.Failed) {
                                DialogWarning(response.Msg);
                            } else {
                                ControlSignature(true);
                                document.getElementById("ItemPreviewSignature").src = "data:image/png;base64," + response.data;
                            }
                        },
                        error: function () {
                        }
                    });
                });
        });

        $('#btnClearSignature').on('click', function () {
            ControlSignature(false);
        });
    });*@

        //function ControlSignature(IsHas) {
        //    if (IsHas === true) {
        //        $('#signatureparent').hide();
        //        $('#PreviewSignature').show();
        //    } else {
        //        $('#signatureparent').show();
        //        $('#PreviewSignature').hide();
        //        $('#signature').jSignature("reset");
        //    }
        //}

    </script>

}

