@model StoreManagement.Models.TBT_ADJ_SPAREPART[]
@{
    var SPAREPART = (TBM_SPAREPART[])ViewData["SPAREPART"];
    ViewData["Title"] = "ISEE: AdjustPart";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
}

<style>
    /*    body {
        padding: 50px;
        background: #fff;
    }*/

    .wrapper {
        width: 100%;
    }

    @@media(max-width:992px) {
        .wrapper {
            width: 100%;
        }
    }

    .panel-heading {
        padding: 0;
        border: 0;
        background-color: #000000a6;
    }

    .panel-title > a, .panel-title > a:active {
        display: block;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-decoration: none;
    }

    .panel-heading a:before {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        transition: all 0.5s;
    }

    .panel-heading.active a:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .tbody th {
        color: #fff;
        border: 1px solid #FFFFFF !important;
        background-color: #29abe2 !important;
    }

    /* Large rounded green border */
    hr.lineBlue {
        border: 1px solid #000000;
        border-radius: 5px;
    }
</style>

<div class="card-body">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ddlSparePart">Type Job</label>
            <select id="ddlSparePart" class="form-control">
                <option value="" selected>Choose...</option>
                @{
                    if (SPAREPART != null && SPAREPART.Any())
                    {
                        foreach (var item in SPAREPART)
                        {
                            <option value="@item.PART_ID" data-item="@item.PART_NO">@item.PART_NO - @item.PART_NAME - @item.LOCATION_NAME (@item.PART_ID)</option>
                        }
                    }
                }
            </select>
        </div>
        <div class=" form-group col-md-6">
            <label for="txtInvoice_No">Adjust part</label>
            <input type="text" class="form-control" id="txtAdj_Part" name="txtAdj_Part" placeholder="" value="" />
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Submit</button>
        <button id="btnClear" type="button" class="btn btn-dark" title="Clear" data-toggle="tooltip"><i class="fa fa-undo"></i>&nbsp;Clear</button>
    </div>
    <hr class="lineBlue">
    <div class="row">
        <div id="divData" class="col-sm-12">
            <div class="table-responsive">
                <table id="tbSearchData" class="table tableData" style="min-width:1500px">
                    <thead class="thead-HMCPO darkCustom">
                        <tr>
                            <th style="width: 11%"></th>
                            <th class="text-center">PART_NO / PART_NAME</th>
                            <th class="text-center">PART_DESC</th>
                            <th class="text-center">PART QUANTITY</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">ADJUST PART QUANTITY</th>
                            <th class="text-center">CREATE_DATE</th>
                            <th class="text-center">CREATE_BY</th>
                            <th class="text-center">DETAIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null && Model.Length > 0)
                            {
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@i</td>
                                        <td class="text-left">@item.PART_NO - @item.PART_NAME</td>
                                        <td class="text-left">@item.PART_DESC</td>
                                        <td class="text-center">@item.PART_VALUE</td>
                                        <td class="text-center">@(int.Parse(@item.PART_VALUE)+ (string.IsNullOrEmpty(item.ADJ_PART_VALUE) ? 0 : int.Parse(item.ADJ_PART_VALUE)))</td>
                                        <td class="text-center">@item.ADJ_PART_VALUE</td>
                                        <td class="text-center">@item.CREATE_DATE</td>
                                        <td class="text-center">@item.CREATE_BY</td>
                                        <td class="text-center">
                                            <a href="javascript:function() { return false; }" onclick="ViewDetail('@item.PART_ID_ENCRYPT')" class="btn btn-sm btn-info"><i class="fas fa-eye"></i></a>
                                            @*<a href="@Url.Action("ViewDetailAdjustPart", "AdjustPart")?str=@item.PART_ID_ENCRYPT" class="btn btn-sm btn-info"><i class="fas fa-eye"></i></a>*@
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
</div>

@section Scripts{
    <script defer>
        $(document).ready(function () {
            $('#ddlSparePart').select2();

            InputMaskDecimal_Name('txtAdj_Part', 100000, 0, true, true);
            var table = $('#tbSearchData').DataTable({
               // scrollY: "300px",
                //scrollX: true,
                //scrollCollapse: true,
                paging: true,
                columnDefs: [
                    { width: 350, targets: 2 }
                ],
            });

            $('#btnSubmit').on('click', function () {
                if (GetValDropdown('ddlSparePart') == "" || GetValTextBox('txtAdj_Part') == "") {
                    DialogWarning("Adjust value is null");
                } else {
                    DialogConfirmSubmit(function () {
                        swal.disableButtons();
                    var obj = {
                        "PART_ID": GetValDropdown('ddlSparePart'),
                        "PART_NO": $('#ddlSparePart').find('option:selected').attr('data-item'),
                        "ADJ_PART_VALUE": GetValTextBox('txtAdj_Part'),
                    };

                    BlockUI();
                    $.ajax({
                        url: '@Url.Action("SaveData", "AdjustPart")',
                        type: 'POST',
                        dataType: 'json',
                        data: { 'data': obj},
                        success: function (response) {
                            UnblockUI();
                            if (response.Status == SysProcess.SessionExpired) {
                                PopupSessionTimeOut('@Url.Action("Index", "Login")');
                            } else if (response.Status == SysProcess.Duplicate) {
                                DialogDuplicate();
                            } else if (response.Status == SysProcess.Failed) {
                                DialogWarning(response.Msg);
                            } else {
                                DialogSucessRedirect('@Url.Action("Index", "AdjustPart")');
                            }
                        },
                        error: function () {
                        }
                    });
                });
                }
            });

            $('#btnClear').on('click', function () {
                $('#ddlSparePart').val('');
                $('#txtAdj_Part').val('');
                $('#ddlSparePart').select2();

            });

        });

        function EditAdjust_Part(adj_id, part_id, part_no) {
            var txt = 'txtAdj_value_' + part_id;
            console.log(txt);
           // alert(val);
            if (GetValTextBox(txt) == "" || GetValTextBox(txt) == undefined) {
                DialogWarning("Adjust value is null");
            } else {
                DialogConfirmSubmit(function () {
                    swal.disableButtons();
                    var obj = {
                        "ADJ_ID": adj_id,
                        "PART_ID": part_id,
                        "PART_NO": part_no,
                        "ADJ_PART_VALUE": GetValTextBox(txt),
                    };

                    BlockUI();
                    $.ajax({
                        url: '@Url.Action("SaveData", "AdjustPart")',
                        type: 'POST',
                        dataType: 'json',
                        data: { 'data': obj},
                        success: function (response) {
                            UnblockUI();
                            if (response.Status == SysProcess.SessionExpired) {
                                PopupSessionTimeOut('@Url.Action("Index", "Login")');
                            } else if (response.Status == SysProcess.Duplicate) {
                                DialogDuplicate();
                            } else if (response.Status == SysProcess.Failed) {
                                DialogWarning(response.Msg);
                            } else {
                                DialogSucessRedirect('@Url.Action("Index", "AdjustPart")');
                            }
                        },
                        error: function () {
                        }
                    });
                });
            }
        }

        function DeleteAdjust_Part(adj_id, part_id, part_no) {
            alert(val);
        }

        function ViewDetail(str) {
            var url = '@Url.Action("ViewDetailAdjustPart", "AdjustPart")' + '?str=' + str;
            FancyBox_OpenIframe_Url(url,'80%','100%')
        }

    </script>
}



