@model StoreManagement.Models.TBM_CUSTOMER
@{
    ViewData["Title"] = "CreateCustomer";
    Layout = "~/Views/Shared/_MP_Back.cshtml";

    var PROVINCE = (PROVINCE[])ViewData["PROVINCE"];
    var EDIT_FLG = (string)ViewData["EDIT_FLG"];
}
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtID_Card">ID Card</label>
                            <input type="text" class="form-control" id="txtID_Card" placeholder="x-xxxx-xxxxx-xx-x" maxlength="13" value="@Model.ID_CARD">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlCustomer_Type">Customer TYPE</label>
                            <select id="ddlCustomer_Type" class="form-control">
                                <option value="" selected>- ระบุ  -</option>
                                @{
                                    if (!string.IsNullOrEmpty(Model.CUST_TYPE))
                                    {
                                        if (Model.CUST_TYPE == "01")
                                        {
                                            <option value="01" selected>บุคคลธรรมดา</option>
                                            <option value="02">นิติบุคคล</option>
                                        }
                                        else if (Model.CUST_TYPE == "02")
                                        {
                                            <option value="01">บุคคลธรรมดา</option>
                                            <option value="02" selected>นิติบุคคล</option>
                                        }
                                        else
                                        {
                                            <option value="01">บุคคลธรรมดา</option>
                                            <option value="02">นิติบุคคล</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="01">บุคคลธรรมดา</option>
                                        <option value="02">นิติบุคคล</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtFirstname">Firstname</label>
                            <input type="text" class="form-control" id="txtFirstname" placeholder="Firstname" maxlength="255" value="@Model.FNAME">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtPassword">Lastname</label>
                            <input type="text" class="form-control" id="txtLastname" placeholder="Lastname" maxlength="255" value="@Model.LNAME">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtAddress">Address</label>
                            <textarea type="text" rows="2" class="form-control" id="txtAddress" placeholder="Address"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="ddlProvince">Province</label>
                            <select id="ddlProvince" class="form-control">
                                <option value="" selected>Choose...</option>
                                @{
                                    if (PROVINCE != null && PROVINCE.Any())
                                    {
                                        foreach (var item in PROVINCE)
                                        {
                                            <option value="@item.PROVINCE_CODE">@item.PROVINCE_NAME_THA</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ddlDistrict">District</label>
                            <select id="ddlDistrict" class="form-control _address">
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ddlSub_District">Sub District</label>
                            <select id="ddlSub_District" class="form-control _address">
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtZip_Code">Zip Code</label>
                            <input type="text" class="form-control _address" id="txtZip_Code" placeholder="Zip Code" value="@Model.ZIP_CODE" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtPhone">Phone</label>
                            <input type="text" class="form-control" id="txtPhone" placeholder="Phone" maxlength="500" value="@Model.PHONE_NO">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtEmail">Email</label>
                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email" maxlength="100" value="@Model.EMAIL">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
    <div class="col-sm-12 text-center">
        <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Submit</button>
        <button id="btnBack" type="button" class="btn btn-dark" title="Back" data-toggle="tooltip"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#txtID_Card").on('input blur', cardFormat);

        var objValidate = {};
        objValidate[GetElementName("txtEmail", objControl.txtbox)] = addValidateEmail_notEmpty("Please Specify Email");
        BindValidate("divForm", objValidate);

        $('#ddlProvince').on('change', function () {
            CLEAR_INPUT_ADDRESS();
            GET_DISTRICT(this.value);
        });

        $('#ddlDistrict').on('change', function () {
            GET_SUB_DISTRICT(this.value);

            if (!IsNullOrEmpty(this.value)) {
                let _zip_code = $('option:selected', this).attr('data-zip');
                $('#txtZip_Code').val(_zip_code);
            } else {
                $('#txtZip_Code').val('');
            }
        });

        $('#btnSubmit').on('click', function () {
            if (CheckValidate("divForm")) {
                DialogConfirmSubmit(function () {
                swal.disableButtons();
                BlockUI();

                var obj = {
                    'CUSTOMER_ID': "@Model.CUSTOMER_ID",
                    'ID_CARD': GetValTextBox('txtID_Card').replace(/-/g, ''),
                    'CUST_TYPE': GetValDropdown('ddlCustomer_Type'),
                    'FNAME': GetValTextBox('txtFirstname'),
                    'LNAME': GetValTextBox('txtLastname'),
                    'ADDRESS': GetValTextArea('txtAddress'),
                    'SUB_DISTRICT_NO': GetValDropdown('ddlSub_District'),
                    'DISTRICT_CODE': GetValDropdown('ddlDistrict'),
                    'PROVINCE_CODE': GetValDropdown('ddlProvince'),
                    'ZIP_CODE': GetValTextBox('txtZip_Code'),
                    'PHONE_NO': GetValTextBox('txtPhone'),
                    'EMAIL': GetValTextBox('txtEmail'),
                }
                BlockUI();
                $.ajax({
                    url: '@Url.Action("SaveData", "Customer")',
                    type: 'POST',
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: { 'data': obj},
                    success: function (response) {
                        UnblockUI();
                        if (response.Status == SysProcess.SessionExpired) {
                            PopupSessionTimeOut();
                        } else if (response.Status == SysProcess.Duplicate) {
                            DialogDuplicate();
                        } else if (response.Status == SysProcess.Failed) {
                            //DialogSaveFail(response.Msg);
                            DialogWarning(response.Msg);
                        } else {
                            DialogSucessRedirect('@Url.Action("Index","Customer")');
                        }
                    },
                    error: function () {
                    }
                });
            });
            }

        });

        $('#btnBack').on('click', function () {
            window.Redirect('@(Url.Action("Index",@ViewContext.RouteData.Values["Controller"].ToString()))');
        });


        if ("@EDIT_FLG" == 'Y')
        {
            SetData();
        }
    });

    async function SetData() {
        $('#txtAddress').html('@Model.ADDRESS');

        $('#ddlProvince').val('@Model.PROVINCE_CODE');

        await GET_DISTRICT('@Model.PROVINCE_CODE', '@Model.DISTRICT_CODE');

        await GET_SUB_DISTRICT('@Model.DISTRICT_CODE', '@Model.SUB_DISTRICT_NO');
    }

    function GET_DISTRICT(province_code, district_code) {
        BlockUI();
        $.ajax({
            url: '@Url.Action("GET_DISTRICT_BY_PROVINCE_CODE", "Customer")',
            type: 'POST',
            dataType: 'json',
            data: { 'PROVINCE_CODE': province_code },
            success: function (response) {
                UnblockUI();
                $('#ddlDistrict').html("");
                if (response != undefined && response != null) {
                    $("#ddlDistrict").append("<option value='' selected>Choose...</option>");
                    $.each(response, function (i, el) {
                        if (district_code != undefined && district_code != "" && district_code != null) {
                            if (district_code == el.DISTRICT_CODE) {
                                $("#ddlDistrict").append("<option selected data-zip=\"" + el.ZIP_CODE + "\" value=\"" + el.DISTRICT_CODE + "\">" + el.DISTRICT_NAME_THA + "</option>");
                            } else {
                                $("#ddlDistrict").append("<option data-zip=\"" + el.ZIP_CODE + "\" value=\"" + el.DISTRICT_CODE + "\">" + el.DISTRICT_NAME_THA + "</option>");
                            }
                        } else {
                            $("#ddlDistrict").append("<option data-zip=\"" + el.ZIP_CODE + "\" value=\"" + el.DISTRICT_CODE + "\">" + el.DISTRICT_NAME_THA + "</option>");
                        }
                    });
                }
            },
            error: function () {
            }
        });
    }

    function GET_SUB_DISTRICT(district_code, sub_district_code) {
        BlockUI();
        $.ajax({
            url: '@Url.Action("GET_SUB_DISTRICT_BY_DISTRICT_CODE", "Customer")',
            type: 'POST',
            dataType: 'json',
            data: { 'district_code': district_code },
            success: function (response) {
                UnblockUI();
                $('#ddlSub_District').html("");
                debugger
                if (response != undefined && response != null) {
                    $("#ddlSub_District").append("<option value='' selected>Choose...</option>");
                    $.each(response, function (i, el) {
                        if (sub_district_code != undefined && sub_district_code != "" && sub_district_code != null) {
                            if (sub_district_code == el.SUB_DISTRICT_CODE) {
                                $("#ddlSub_District").append("<option selected value=\"" + el.SUB_DISTRICT_CODE + "\">" + el.SUB_DISTRICT_NAME_THA + "</option>");
                            } else {
                                $("#ddlSub_District").append("<option value=\"" + el.SUB_DISTRICT_CODE + "\">" + el.SUB_DISTRICT_NAME_THA + "</option>");
                            }
                        } else {
                            $("#ddlSub_District").append("<option value=\"" + el.SUB_DISTRICT_CODE + "\">" + el.SUB_DISTRICT_NAME_THA + "</option>");
                        }
                    });
                }
            },
            error: function () {
            }
        });
    }

    function CLEAR_INPUT_ADDRESS() {
        $('._address').val('');
        $('._address').html('');
    }

</script>

