@model StoreManagement.Models.TBM_VEHICLE
@{
    ViewData["Title"] = "CreateVehicle";
    Layout = "~/Views/Shared/_MP_Back.cshtml";

    var CUSTOMER = (TBM_CUSTOMER[])ViewData["CUSTOMER"];
}

<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtUsername">License No</label>
                            <input type="text" class="form-control" id="txtLicense_no" placeholder="License No" maxlength="20">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtBrand_no">Brand No</label>
                            <input type="text" class="form-control" id="txtBrand_no" placeholder="Brand No" maxlength="3">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtModel_no">Model No</label>
                            <textarea rows="3" type="text" class="form-control" id="txtModel_no" placeholder="Model No"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtChassis_no">Chassis No</label>
                            <textarea rows="3" type="text" class="form-control" id="txtChassis_no" placeholder="Chassis No"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtColor">Color</label>
                            <input type="text" class="form-control" id="txtColor" placeholder="Color" maxlength="50">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="txtEffective_Date">Effective Date</label>
                            <div class="input-group mb-3">
                                <input ID="txtEffective_Date" name="txtEffective_Date" type="text" class="form-control" MaxLength="10" placeholder="--/--/----" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtEffective_Date">Expire Date</label>
                            <div class="input-group mb-3">
                                <input ID="txtExpire_Date" name="txtExpire_Date" type="text" class="form-control" MaxLength="10" placeholder="--/--/----" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtService_Price">Service Price</label>
                            <input type="text" class="form-control" id="txtService_Price" placeholder="Service Price">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtService_No">Service No</label>
                            <input type="text" class="form-control" id="txtService_No" placeholder="Service No">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtContract_No">Contract No</label>
                            <input type="text" class="form-control" id="txtContract_No" placeholder="Contract No">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlCustomer_ID">Customer ID</label>
                            <select id="ddlCustomer_ID" class="form-control">
                                <option selected>Choose...</option>
                                @{
                                    if (CUSTOMER != null && CUSTOMER.Any())
                                    {
                                        foreach (var item in CUSTOMER)
                                        {
                                            if (item.CUSTOMER_ID == Model.CUSTOMER_ID)
                                            {
                                                <option value="@item.CUSTOMER_ID" selected>@item.DISTRICT_CODE</option>
                                            }
                                            else
                                            {
                                                <option value="@item.CUSTOMER_ID">@item.DISTRICT_CODE</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
    <div class="col-sm-12 text-center">
        <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Submit</button>
        <button id="btnBack" type="button" class="btn btn-dark" title="Back" data-toggle="tooltip"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnSubmit').on('click', function () {
            DialogConfirmSubmit(function () {
                swal.disableButtons();
                BlockUI();

                var obj = {
                    'LICENSE_NO': "",//GetValTextBox('hddID'),
                    'BRAND_NO': GetValTextBox('txtUsername'),
                    'MODEL_NO': GetValTextBox('txtPassword'),
                    'CHASSIS_NO':  GetValTextBox('txtFirstname'),
                    'COLOR': GetValTextBox('txtLastname'),
                    'EFFECTIVE_DATE': GetValTextBox('txtIDCard'),
                    'EXPIRE_DATE': GetValDropdown('ddlPosition'),
                    'SERVICE_PRICE': GetValTextBox('txtFirstname'),
                    'SERVICE_NO': GetValTextBox('txtLastname'),
                    'CONTRACT_NO': GetValTextBox('txtIDCard'),
                    'CUSTOMER_ID': GetValDropdown('ddlPosition')
                }
                BlockUI();
                $.ajax({
                    url: '@Url.Action("SaveData", "Vehicle")',
                    type: 'POST',
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: { 'data': obj},
                    success: function (response) {
                        UnblockUI();
                        if (response.Status == SysProcess.SessionExpired) {
                            PopupSessionTimeOut();
                        } else if (response.Status == SysProcess.Duplicate) {
                            DialogDuplicate();
                        } else if (response.Status == SysProcess.Failed) {
                            DialogWarning(response.Msg);
                        } else {
                            DialogSucessRedirect('@Url.Action("Index", "Vehicle")');
                        }
                    },
                    error: function () {
                    }
                });
            });
        });

        $('#btnBack').on('click', function () {
            window.Redirect('@(Url.Action("Index",@ViewContext.RouteData.Values["Controller"].ToString()))');
        });
    });

</script>

