
@{
    ViewData["Title"] = "ISEE: ReportStock";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
    var EMPLOYEE = (TBM_EMPLOYEE[])ViewData["EMPLOYEE"];
    var LOCATION = (TBM_LOCATION_STORE[])ViewData["LOCATION"];


    bool SessionUserInfoIsExpired = Context.Session.GetObjectFromJson<TM_User>("UserAccount") == null;
    var SessionUserInfo = Context.Session.GetObjectFromJson<TM_User>("UserAccount");

}
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtModel_no">Part Create from</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtPartCreateFrom" name="txtPartCreateFrom">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtChassis_no">To</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtPartCreateTo" name="txtPartCreateTo">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtPartNo">Part No</label>
                        <input type="text" class="form-control" id="txtPartNo" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlPartName">Part Name</label>
                        <select id="ddlPartName" name="ddlPartName" class="form-control">
                            <option value="" selected>Choose...</option>
                            @{
                                if (EMPLOYEE != null)
                                {
                                    foreach (var item in EMPLOYEE)
                                    {
                                        <option value="@item.USER_ID">@item.FULLNAME @item.LASTNAME</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlLocation">Location</label>
                        <select id="ddlLocation" name="ddlLocation" class="form-control">
                            <option value="" selected>Choose...</option>
                            @{
                                if (LOCATION != null && LOCATION.Any())
                                {
                                    foreach (var item in LOCATION)
                                    {
                                        <option value="@item.LOCATION_ID">@item.LOCATION_NAME</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 text-center">
                    <button id="btnSearch" type="button" style="margin:0!important" class="btn btn-info" title="Search" data-toggle="tooltip"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button id="btnPDF" type="button" class="btn btn-success" title="PDF" data-toggle="tooltip"><i class="fa fa-file-pdf"></i>&nbsp;Print</button>
                    <button id="btnExcel" type="button" class="btn btn-dark" title="Excel" data-toggle="tooltip"><i class="fa fa-file-excel"></i>&nbsp;Export</button>

                </div>


                <div class="row mt-5">
                    <div id="divData" class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tbSearchData" class="table tableData" style="min-width:1500px">
                                <thead class="thead-HMCPO darkCustom">
                                    <tr>
                                        <th class="text-center">part no </th>
                                        <th class="text-center">part  name</th>
                                        <th class="text-center">part-create</th>
                                        <th class="text-center">cost-price</th>
                                        <th class="text-center">sale-price</th>
                                        <th class="text-center">unit</th>
                                        <th class="text-center">adj unit</th>
                                        <th class="text-center">min</th>
                                        <th class="text-center">max</th>
                                        <th class="text-center">location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlSearchData = "@Url.Action("GetData", "ReportStock")";

    $(document).ready(function () {
        SetDateRangePicker($('#txtPartCreateFrom'), $('#txtPartCreateTo'));

        SearchData('SEARCH');

        $('#btnSearch').on('click', function () {
            SearchData('SEARCH');
        });
        $('#btnPDF').on('click', function () {
            SearchData('PDF');
        });
        $('#btnExcel').on('click', function () {
            SearchData('EXCEL');
        });
    });

    function SearchData(type) {
        BlockUI();

        var obj = {
            PARTNO: GetValTextBox('txtPartNo'),
            PARTID: GetValDropdown('ddlPartName'),
            LOCATIONID: GetValDropdown('ddlLocation'),
            PART_CREATE_FROM: GetValTextBox('txtPartCreateFrom'),
            PART_CREATE_TO: GetValTextBox('txtPartCreateTo'),
            USERNAME: "",
            REPORT_TYPE: type
        };

        $.ajax({
            url: urlSearchData,
            type: 'POST',
            dataType: 'json',
            data: { 'data': obj },
            success: function (response) {
                UnblockUI();
                if (response.Status == SysProcess.SessionExpired) {
                    PopupSessionTimeOut('@Url.Action("Index","Login")');
                } else if (response.Status == SysProcess.Failed) {
                    DialogWarning(response.Msg);
                } else {
                    if (TypeReport.SEARCH == type) {
                        BindDataTable(response.data.SUMMARY_STOCK_LIST);
                    } else if (TypeReport.EXCEL == type) {
                        var url = '@Url.Action("PreviewFile", "ReportJob", new { SessionRpt = "ID" })'.replace("ID", response.data);
                                window.open(url, '_blank');
                    } else if (TypeReport.PDF == type) {
                        var url = '@Url.Action("PreviewFile", "ReportJob", new { SessionRpt = "ID" })'.replace("ID", response.data);
                                window.open(url, '_blank');
                    }
                }
            },
            error: function () {
            }
        });
    }

    function BindDataTable(arrData_) {
        var table = $('#tbSearchData').DataTable();
        table.destroy();

        $("#tbSearchData tbody").html("");
        let html = '';
        $.each(arrData_, function (i, el) {
            let td = '';

            td = '<td class="text-center">' + (el.PART_NO || '') + '</td>';
            td += '<td class="text-left">' + (el.PART_NAME || '') + '</td>';
            td += '<td class="text-center">' + (el.CREATE_DATE || '') + '</td>';
            td += '<td class="text-right">' + (el.COST_PRICE || '') + '</td>';
            td += '<td class="text-right">' + (el.SALE_PRICE || '') + '</td>';
            td += '<td class="text-right">' + (el.PART_VALUE || '') + '</td>';
            td += '<td class="text-right">' + (el.ADJ_PART_VALUE || '') + '</td>';
            td += '<td class="text-right">' + (el.MINIMUM_VALUE || '') + '</td>';
            td += '<td class="text-right">' + (el.MAXIMUM_VALUE || '') + '</td>';
            td += '<td class="text-left">' + (el.LOCATION_NAME || '') + '</td>';
                html += "<tr>" + td + "</tr>";
            });

        $("table[id$=tbSearchData] tbody").html(html);

        table.DataTable({
            //scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            //columnDefs: [
            //    {
            //        orderable: false,
            //        className: 'select-checkbox',
            //        targets: 0
            //    }
            //    , { width: 35, targets: 0 }
            //    , { width: 70, targets: 1 }
            //    , { width: 350, targets: 3 }
            //],
        });
    }
</script>