@model StoreManagement.Models.TBM_SPAREPART
@{
    ViewData["Title"] = "CreateSparePart";
    Layout = "~/Views/Shared/_MP_Back.cshtml";

    var LOCATION = (TBM_LOCATION_STORE[])ViewData["LOCATION"];
    var UNIT = (UNIT[])ViewData["UNIT"];

    var EDIT_FLG = (string)ViewData["EDIT_FLG"];
}

<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="txtPart_No">Part No</label>
                            <input type="text" class="form-control" id="txtPart_No" name="txtPart_No" placeholder="Part No" maxlength="50" value="@Model.PART_NO" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtPart_Name">Part Name</label>
                            <input type="text" class="form-control" id="txtPart_Name" name="txtPart_Name" placeholder="Part Name" maxlength="100" value="@Model.PART_NAME" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ddlPart_Type">Part Type</label>
                            <select id="ddlPart_Type" name="ddlPart_Type" class="form-control">
                                <option value="" selected>Choose...</option>
                                <option value="00">Normal Part</option>
                                <option value="01">Dummy Part</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtPart_Desc">Bin Location</label>
                            <textarea type="text" rows="3" class="form-control" id="txtPart_Desc" name="txtPart_Desc" placeholder="Bin Location"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="txtCost_Price">Cost Price</label>
                            <input type="text" class="form-control" id="txtCost_Price" name="txtCost_Price" placeholder="Cost Price" value="@Model.COST_PRICE" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtSale_Price">Sale Price</label>
                            <input type="text" class="form-control" id="txtSale_Price" name="txtSale_Price" placeholder="Sale Price" value="@Model.SALE_PRICE" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="ddlUnit_Code">Unit Code</label>
                            <select id="ddlUnit_Code" name="ddlUnit_Code" class="form-control">
                                <option value="" selected>Choose...</option>
                                @{
                                    if (UNIT != null && UNIT.Any())
                                    {
                                        foreach (var item in UNIT)
                                        {
                                            <option value="@item.UNIT_CODE">@item.UNIT_NAME</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtPart_Value">Stock Value</label>
                            <input type="text" class="form-control" id="txtPart_Value" name="txtPart_Value" placeholder="Stock Value" value="@Model.PART_VALUE" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtPart_weight">part_weight</label>
                            <input type="text" class="form-control" id="txtPart_weight" name="txtPart_weight" placeholder="Part_weight" value="@Model.PART_WEIGHT" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="txtMinimum_Value">Minimum Value</label>
                            <input type="text" class="form-control" id="txtMinimum_Value" name="txtMinimum_Value" placeholder="Minimum Value" value="@Model.MINIMUM_VALUE" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtMaximum_Value">Maximum Value</label>
                            <input type="text" class="form-control" id="txtMaximum_Value" name="txtMaximum_Value" placeholder="Maximum Value" value="@Model.MAXIMUM_VALUE" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="ddlLocation_ID">Location ID</label>
                            <select @(EDIT_FLG == "N" ? "disabled" : "") id="ddlLocation_ID" name="ddlLocation_ID" class="form-control">
                                <option value="" selected>Choose...</option>
                                @{
                                    if (LOCATION != null && LOCATION.Any())
                                    {
                                        foreach (var item in LOCATION)
                                        {
                                            if (@EDIT_FLG == "N")
                                            {
                                                if (item.LOCATION_ID == "L01")
                                                {
                                                    <option selected value="@item.LOCATION_ID">@item.LOCATION_NAME</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.LOCATION_ID">@item.LOCATION_NAME</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.LOCATION_ID">@item.LOCATION_NAME</option>
                                            }

                                        }
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtRef_group">Ref Group</label>
                            <input type="text" class="form-control" id="txtRef_group" name="txtRef_group" placeholder="Ref Group" value="@Model.REF_GROUP" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtRef_Other">Ref Other</label>
                            <input type="text" class="form-control" id="txtRef_Other" name="txtRef_Other" placeholder="Ref Other" value="@Model.REF_OTHER" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
    <div class="col-sm-12 text-center">
        <button id="btnSubmit" type="button" class="btn btn-primary" title="Submit" data-toggle="tooltip"><i class="fa fa-save"></i>&nbsp;Submit</button>
        <button id="btnBack" type="button" class="btn btn-dark" title="Back" data-toggle="tooltip"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#ddlUnit_Code').select2();
        $("#txtPart_No").focus();

        InputMaskDecimal('#txtCost_Price', 12, 2, false, false);
        InputMaskDecimal('#txtSale_Price', 12, 2, false, false);

        $('#btnSubmit').on('click', function () {
            DialogConfirmSubmit(function () {
                if (!GetValTextArea('txtPart_Desc')) {
                    DialogWarning('กรุณาระบุข้อมูล Bin Location');
                    return
                }
                swal.disableButtons();
                BlockUI();

                var obj = {
                    "PART_ID": "@Model.PART_ID",
                    "PART_NO": GetValTextBox('txtPart_No'),
                    "PART_NAME": GetValTextBox('txtPart_Name'),
                    "PART_DESC": GetValTextArea('txtPart_Desc'),
                    "PART_TYPE": GetValDropdown('ddlPart_Type'),
                    "PART_TYPE_DESC": "",
                    "COST_PRICE": GetValTextBox('txtCost_Price'),
                    "SALE_PRICE": GetValTextBox('txtSale_Price'),
                    "UNIT_CODE": GetValDropdown('ddlUnit_Code'),
                    "UNIT_NAME": "",
                    "PART_VALUE": GetValTextBox('txtPart_Value'),
                    "PART_WEIGHT": GetValTextBox('txtPart_weight'),
                    "MINIMUM_VALUE": GetValTextBox('txtMinimum_Value'),
                    "MAXIMUM_VALUE": GetValTextBox('txtMaximum_Value'),
                    "LOCATION_ID": GetValDropdown('ddlLocation_ID'),
                    "REF_GROUP": GetValTextBox('txtRef_group'),
                    "REF_OTHER": GetValTextBox('txtRef_Other'),
                }
                BlockUI();
                $.ajax({
                    url: '@Url.Action("SaveData", "SparePart")',
                    type: 'POST',
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: { 'data': obj},
                    success: function (response) {
                        UnblockUI();
                        if (response.Status == SysProcess.SessionExpired) {
                             PopupSessionTimeOut('@Url.Action("Index","Login")');
                        } else if (response.Status == SysProcess.Duplicate) {
                            DialogDuplicate();
                        } else if (response.Status == SysProcess.Failed) {
                            //DialogSaveFail(response.Msg);
                            DialogWarning(response.Msg);
                        } else {
                            DialogSucessRedirect('@Url.Action("Index", "SparePart")');
                        }
                    },
                    error: function () {
                    }
                });
            });
        });

        $('#btnBack').on('click', function () {
            window.Redirect('@(Url.Action("Index",@ViewContext.RouteData.Values["Controller"].ToString()))');
        });

        if ('@EDIT_FLG' == 'Y') {
            $('#ddlPart_Type').val('@Model.PART_TYPE');
            $('#ddlUnit_Code').val('@Model.UNIT_CODE');
            $('#ddlLocation_ID').val('@Model.LOCATION_ID');
            $('#txtPart_Desc').html('@Model.PART_DESC');
            $('#ddlUnit_Code').select2();
        }
    });
</script>

