
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
}

<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                @if (ViewBag.noadd == "0")
                {
                    <div class="form-group">
                        <a id="btnAdd" class="btn btn-success" href="@Url.Action("CreateSparePart","SparePart")" title="Add" data-toggle="tooltip"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a>
                    </div>
                }

                <div id="divSearch">
                    @*<form>
                            <div class="form-group">
                                <label for="inputAddress">Job</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Mechanic</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Status</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            <div id="divbtnSearch" class="form-group form-control-inline">
                                <button id="btnSearch" type="button" class="btn btn-info" title="Search" data-toggle="tooltip">
                                    <i class="fa fa-search"></i>&nbsp;Search
                                </button>
                            </div>
                        </form>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div id="divData" class="col-sm-12">
                <div class="table-responsive">
                    <table id="tbSearchData" class="table tableData" style="min-width:1700px">
                        <thead class="thead-HMCPO darkCustom">
                            <tr>
                                <th>@*<input type="checkbox" name="select_all" value="1" id="select-all">*@</th>
                                <th class="text-center">part_no</th>
                                <th class="text-center">part_name</th>
                                <th class="text-center">part_desc</th>

                                <th class="text-center">part_type_desc</th>
                                <th class="text-center">cost_price</th>
                                <th class="text-center">sale_price</th>

                                <th class="text-center">unit_code</th>
                                <th class="text-center">unit_name</th>
                                <th class="text-center">part_value</th>

                                <th class="text-center">minimum_value</th>
                                <th class="text-center">maximum_value</th>
                                <th class="text-center">location_name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
</div>


<script>
var urlSearchData = "@Url.Action("GetData", "SparePart")";
    var noedit = '@ViewBag.noadd';
    $(document).ready(function () {
        SearchData();
    });

    function Delete() {
        let table = $('#tbSearchData').DataTable();
        let arr = [];
        let checkedvalues = table.$('input:checked').each(function () {
            arr.push($(this).val());
        });
        //arr = arr.toString();
        if (arr.length > 0) {

        } else {
            DialogWarning("เลือกรายการที่ต้องการลบ อย่างน้อย 1 รายการ");
        }

    }

    function SearchData() {

        var obj = {
            "PART_ID": "",
            "PART_NO": "",
            "PART_NAME": "",
            "PART_DESC": "",
            "PART_TYPE": "",
            "PART_TYPE_DESC": "",
            "COST_PRICE": "",
            "SALE_PRICE": "",
            "UNIT_CODE": "",
            "UNIT_NAME": "",
            "PART_VALUE": "",
            "MINIMUM_VALUE": "",
            "MAXIMUM_VALUE": "",
            "LOCATION_ID": "",
            "LOCATION_LOCATION_NAME": "",
            "CREATE_DATE": "",
            "CREATE_BY": "",
            "CANCAL_DATE": "",
            "CANCEL_BY": "",
            "CANCEL_REASON": "",
            "UPDATE_DATE": "",
            "UPDATE_BY": "",
            "PAGE":"STOCK"
        }

        BlockUI();
        $.ajax({
            url: urlSearchData,
            type: 'POST',
            dataType: 'json',
            data: { 'data': obj },
            success: function (response) {
                UnblockUI();
                if (response.Status == SysProcess.SessionExpired) {
                    PopupSessionTimeOut('@Url.Action("Index","Login")');
                } else if (response.Status == SysProcess.Failed) {
                    DialogWarning(response.Msg);
                } else {
                    BindDataTable(response.data);
                }
            },
            error: function () {
            }
        });
    }

    function BindDataTable(arrData_) {
        $("#tbSearchData tbody").html("");
            let html = '';
            $.each(arrData_, function (i, el) {
                let td = '';
                td = '<td class="text-center">' + (i+1)+ '</td>';
                td += '<td class="text-center">' + (el.PART_NO || '') + ' ('+(el.PART_ID || '')+')' + '</td>';
                td += '<td class="text-center">' + (el.PART_NAME || '') + '</td>';
                td += '<td class="text-left">' + (el.PART_DESC || '') + '</td>';

                td += '<td class="text-center">' + (el.PART_TYPE_DESC || '') + '</td>';
                td += '<td class="text-right">' + (el.COST_PRICE || '') + '</td>';
                td += '<td class="text-right">' + (el.SALE_PRICE || '') + '</td>';

                td += '<td class="text-right">' + (el.UNIT_CODE || '') + '</td>';
                td += '<td class="text-center">' + (el.UNIT_NAME || '') + '</td>';
                td += '<td class="text-right">' + (el.PART_VALUE || '') + '</td>';

                td += '<td class="text-right">' + (el.MINIMUM_VALUE || '') + '</td>';
                td += '<td class="text-right">' + (el.MAXIMUM_VALUE || '') + '</td>';
                td += '<td class="text-center">' + (el.LOCATION_NAME || '') + '</td>';
                if (noedit=="0")
                    td += '<td class="text-center">' + '<a href="@Url.Action("CreateSparePart", "SparePart")' + '?str=' + el.PART_ID_ENCRYPT + '" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>' + '</td>';
                else
                    td += '<td class="text-center"></td>';

                html += "<tr>" + td + "</tr>";
            });

        $("table[id$=tbSearchData] tbody").html(html);

        var table = $('#tbSearchData').removeAttr('width').DataTable({
            //scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            columnDefs: [
                {
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }
                //, { width: 35, targets: 0 }
                //, { width: 100, targets: 1 }
                //, { width: 450, targets: 3 }
            ],
        });
    }
</script>

